# **I. LIBRAIRIES & DATA.py**

In [110]:
# Libraries

import pandas as pd
import numpy as np
from functools import reduce
from datetime import date
from datetime import datetime
from datetime import timedelta
import matplotlib.pyplot as plt
from matplotlib.patches import Rectangle as Rect
import plotly.express as px
import os

# RECUP LA DATA
# Retrieve the path to the current foldersw
current_path = os.getcwd()

# Get the path to the csv file folder - in this case the 'data' file
csv_path = os.path.join(current_path, 'data\\test')

# A EXPLIQUER ICI
for file in os.listdir(csv_path):
    fd = pd.read_csv(os.path.join(csv_path, file))
    globals()[file.rpartition(".")[0]] = fd

# fillna
Moon = Moon.copy()
Moon.fillna(0, inplace=True)

lat_moon_changes = lat_moon_changes.copy()
lat_moon_changes.fillna(0, inplace=True)

planet_node = planet_node.copy()
planet_node.fillna(0, inplace=True)

twoday = datetime.strftime(datetime.now(), "%Y/%m/%d")
t = pd.to_datetime(twoday)
t = pd.to_datetime(t)

today = datetime.strftime(datetime.now(), "%d/%m/%Y")

In [2]:
# FIND NEAREST FUNCTION

def find_nearest(array,value): 
    idx = (np.abs(array-value)).argmin() 
    return array[idx]

helio_cum = helio_cum.copy()
ex = helio_cum.Ven.array

find_nearest(ex, 50286.12)

50286.12

# **II. MAIN TABLE.py**

## **II.1 HELIO**

### **II.1.1 CUMULATIVE HELIO**

In [3]:
from datetime import datetime

today = datetime.strftime(datetime.now(), "%d/%m/%Y")

helio_cum = helio_cum.copy()

for col in helio_cum.columns[1:]:
     helio_cum= helio_cum.astype({col: int})

cumulative_1 = helio_cum.copy()
cumulative_2 = helio_cum.copy()
cumulative_3 = helio_cum.copy()
cumulative_4 = helio_cum.copy()
cumulative_5 = helio_cum.copy()
cumulative_6 = helio_cum.copy()
cumulative_7 = helio_cum.copy()
cumulative_8 = helio_cum.copy()
cumulative_9 = helio_cum.copy()
cumulative_10 = helio_cum.copy()
cumulative_11 = helio_cum.copy()
cumulative_12 = helio_cum.copy()
cumulative_13 = helio_cum.copy()

helio = helio.copy()

for col in helio.columns[1:]:
     helio= helio.astype({col: int})

test = helio_cum.copy()

result = helio[helio.Date == today]

def cum_hel(df, date):
    today = datetime.strftime(datetime.now(), "%d/%m/%Y")
    return pd.DataFrame(
        {
            "Date": [date],
            "Earth": df["Earth"][df.Date == today].values
            - df["Earth"][df.Date == date].values,
            "Mer": df["Mer"][df.Date == today].values
            - df["Mer"][df.Date == date].values,
            "Ven": df["Ven"][df.Date == today].values
            - df["Ven"][df.Date == date].values,
            "Mar": df["Mar"][df.Date == today].values
            - df["Mar"][df.Date == date].values,
            "Jup": df["Jup"][df.Date == today].values
            - df["Jup"][df.Date == date].values,
            "Sat": df["Sat"][df.Date == today].values
            - df["Sat"][df.Date == date].values,
            "Ura": df["Ura"][df.Date == today].values
            - df["Ura"][df.Date == date].values,
            "Nep": df["Nep"][df.Date == today].values
            - df["Nep"][df.Date == date].values,
            "Plu": df["Plu"][df.Date == today].values
            - df["Plu"][df.Date == date].values,
        }
    )

filtered_dfs = []

data = [
  (cumulative_1, '31/10/2008'),
  (cumulative_2, '03/01/2009'),
  (cumulative_3, '22/05/2010'),
  (cumulative_4, '29/11/2013'),
  (cumulative_5, '17/12/2017'),
  (cumulative_6, '15/12/2018'),
  (cumulative_7, '26/06/2019'),
  (cumulative_8, '12/03/2020'),
  (cumulative_9, '25/04/2021'),
  (cumulative_10, '20/07/2021'),
  (cumulative_11, '20/10/2021'),
  (cumulative_12, '10/11/2021'),
  (cumulative_13, '18/06/2022'),
]

for i, (df, date) in enumerate(data):
  filtered_dfs.append(cum_hel(df, date))

cumm_hel = pd.concat(filtered_dfs)
hel = pd.concat([result, cumm_hel])
hel = hel.round()

for col in hel.columns[1:]:
     hel = hel.astype({col: int})
     
hel

             Date  Earth    Mer   Ven   Mar  Jup  Sat  Ura  Nep  Plu
31527  28/01/2023    128    203     4   101   15  327   47  354  298
0      31/10/2008   5129  21287  8334  2746  438  163   57   32   28
0      03/01/2009   5065  21066  8232  2711  433  161   56   31   28
0      22/05/2010   4567  18998  7424  2442  388  144   50   28   25
0      29/11/2013   3300  13695  5363  1760  273  102   37   21   18
0      17/12/2017   1842   7655  2992   994  158   57   21   12   10
0      15/12/2018   1484   6156  2411   789  130   46   17    9    8
0      26/06/2019   1293   5376  2102   691  115   41   15    8    7
0      12/03/2020   1036   4308  1685   571   93   33   12    7    6
0      25/04/2021    632   2656  1030   339   58   20    7    4    4
0      20/07/2021    550   2309   891   301   51   18    6    4    3
0      20/10/2021    461   1923   745   260   43   15    5    3    3
0      10/11/2021    440   1815   712   251   41   14    5    3    3
0      18/06/2022    221    960   359   127   21    7    2    2    2

In [4]:
helio[helio.Date == today]

             Date  Earth  Mer  Ven  Mar  Jup  Sat  Ura  Nep  Plu
31527  28/01/2023    128  203    4  101   15  327   47  354  298

In [5]:
xx = helio[helio.Date == today]
xx.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','helio.csv'), index= False)

In [6]:
xxx = geo[geo.Date == today]
xxx.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','geo.csv'), index= False)

### **II.1.2 MOD30 & 360**

#### **MOD30**

In [7]:
# mod30 (donne qu'elle signe il est)

mod = pd.DataFrame({'Date': [today],

                                       'Earth': helio['Earth'][helio.Date == today].values
                                       % 30,

                                       'Mer': helio['Mer'][helio.Date == today].values
                                       % 30,
                                       
                                       'Ven': helio['Ven'][helio.Date == today].values
                                       % 30,

                                       'Mar': helio['Mar'][helio.Date == today].values
                                       % 30,

                                       'Jup': helio['Jup'][helio.Date == today].values
                                       % 30,
                                       
                                       'Sat': helio['Sat'][helio.Date == today].values
                                       % 30,

                                       'Ura': helio['Ura'][helio.Date == today].values
                                       % 30,

                                       'Nep': helio['Nep'][helio.Date == today].values
                                       % 30,
                                       
                                       'Plu': helio['Plu'][helio.Date == today].values
                                       % 30,

                                       })


mod = mod.round()
mod

         Date  Earth  Mer  Ven  Mar  Jup  Sat  Ura  Nep  Plu
0  28/01/2023      8   23    4   11   15   27   17   24   28

In [8]:
# rrr

result2 = result.copy() # rrr

for col in result2.columns[1:]:
     result2= result2.astype({col: "int64"})

for col in result2.columns[1:]:
     result2= result2.astype({col: "int64"})

rrr = pd.DataFrame({'Date': [today],

                                       'Earth': helio['Earth'][helio.Date == today].values,

                                       'Mer': helio['Mer'][helio.Date == today].values,
                                       
                                       'Ven': helio['Ven'][helio.Date == today].values,

                                       'Mar': helio['Mar'][helio.Date == today].values,

                                       'Jup': helio['Jup'][helio.Date == today].values,
                                       
                                       'Sat': helio['Sat'][helio.Date == today].values,

                                       'Ura': helio['Ura'][helio.Date == today].values,

                                       'Nep': helio['Nep'][helio.Date == today].values,
                                       
                                       'Plu': helio['Plu'][helio.Date == today].values,

                                       })

rrr.round()

for i in rrr['Earth']: 
        if (0<=i<=29):
            rrr['Earth'] = rrr['Earth'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Earth'] = rrr['Earth'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Earth'] = rrr['Earth'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Earth'] = rrr['Earth'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Earth'] = rrr['Earth'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Earth'] = rrr['Earth'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Earth'] = rrr['Earth'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Earth'] = rrr['Earth'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Earth'] = rrr['Earth'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Earth'] = rrr['Earth'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Earth'] = rrr['Earth'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Earth'] = rrr['Earth'].replace(i, "Pi")

for i in rrr['Mer']: 
        if (0<=i<=29):
            rrr['Mer'] = rrr['Mer'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Mer'] = rrr['Mer'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Mer'] = rrr['Mer'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Mer'] = rrr['Mer'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Mer'] = rrr['Mer'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Mer'] = rrr['Mer'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Mer'] = rrr['Mer'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Mer'] = rrr['Mer'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Mer'] = rrr['Mer'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Mer'] = rrr['Mer'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Mer'] = rrr['Mer'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Mer'] = rrr['Mer'].replace(i, "Pi")

for i in rrr['Ven']: 
        if (0<=i<=29):
            rrr['Ven'] = rrr['Ven'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Ven'] = rrr['Ven'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Ven'] = rrr['Ven'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Ven'] = rrr['Ven'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Ven'] = rrr['Ven'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Ven'] = rrr['Ven'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Ven'] = rrr['Ven'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Ven'] = rrr['Ven'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Ven'] = rrr['Ven'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Ven'] = rrr['Ven'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Ven'] = rrr['Ven'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Ven'] = rrr['Ven'].replace(i, "Pi")

for i in rrr['Mar']: 
        if (0<=i<=29):
            rrr['Mar'] = rrr['Mar'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Mar'] = rrr['Mar'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Mar'] = rrr['Mar'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Mar'] = rrr['Mar'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Mar'] = rrr['Mar'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Mar'] = rrr['Mar'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Mar'] = rrr['Mar'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Mar'] = rrr['Mar'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Mar'] = rrr['Mar'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Mar'] = rrr['Mar'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Mar'] = rrr['Mar'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Mar'] = rrr['Mar'].replace(i, "Pi")

for i in rrr['Jup']: 
        if (0<=i<=29):
            rrr['Jup'] = rrr['Jup'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Jup'] = rrr['Jup'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Jup'] = rrr['Jup'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Jup'] = rrr['Jup'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Jup'] = rrr['Jup'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Jup'] = rrr['Jup'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Jup'] = rrr['Jup'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Jup'] = rrr['Jup'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Jup'] = rrr['Jup'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Jup'] = rrr['Jup'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Jup'] = rrr['Jup'].replace(i, "Aq")
        elif (330<=i<=360):
            rrr['Jup'] = rrr['Jup'].replace(i, "Pi")

for i in rrr['Sat']: 
        if (0<=i<=29):
            rrr['Sat'] = rrr['Sat'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Sat'] = rrr['Sat'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Sat'] = rrr['Sat'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Sat'] = rrr['Sat'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Sat'] = rrr['Sat'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Sat'] = rrr['Sat'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Sat'] = rrr['Sat'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Sat'] = rrr['Sat'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Sat'] = rrr['Sat'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Sat'] = rrr['Sat'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Sat'] = rrr['Sat'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Sat'] = rrr['Sat'].replace(i, "Pi")

for i in rrr['Ura']: 
        if (0<=i<=29):
            rrr['Ura'] = rrr['Ura'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Ura'] = rrr['Ura'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Ura'] = rrr['Ura'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Ura'] = rrr['Ura'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Ura'] = rrr['Ura'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Ura'] = rrr['Ura'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Ura'] = rrr['Ura'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Ura'] = rrr['Ura'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Ura'] = rrr['Ura'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Ura'] = rrr['Ura'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Ura'] = rrr['Ura'].replace(i, "Aq")
        elif (330<=i<=360):
            rrr['Ura'] = rrr['Ura'].replace(i, "Pi")

for i in rrr['Nep']: 
        if (0<=i<=29):
            rrr['Nep'] = rrr['Nep'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Nep'] = rrr['Nep'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Nep'] = rrr['Nep'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Nep'] = rrr['Nep'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Nep'] = rrr['Nep'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Nep'] = rrr['Nep'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Nep'] = rrr['Nep'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Nep'] = rrr['Nep'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Nep'] = rrr['Nep'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Nep'] = rrr['Nep'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Nep'] = rrr['Nep'].replace(i, "Aq")
        elif (330<=i<=360):
            rrr['Nep'] = rrr['Nep'].replace(i, "Pi")

for i in rrr['Plu']: 
        if (0<=i<=29):
            rrr['Plu'] = rrr['Plu'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr['Plu'] = rrr['Plu'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr['Plu'] = rrr['Plu'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr['Plu'] = rrr['Plu'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr['Plu'] = rrr['Plu'].replace(i, "Le")
        elif (150<=i<=179):
            rrr['Plu'] = rrr['Plu'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr['Plu'] = rrr['Plu'].replace(i, "Li")
        elif (209<=i<=239):
            rrr['Plu'] = rrr['Plu'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr['Plu'] = rrr['Plu'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr['Plu'] = rrr['Plu'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr['Plu'] = rrr['Plu'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr['Plu'] = rrr['Plu'].replace(i, "Pi")

rrr

         Date Earth Mer Ven Mar Jup Sat Ura Nep Plu
0  28/01/2023    Le  Li  Ar  Ca  Ar  Aq  Ta  Pi  Cp

In [9]:
mod = mod.round()

# STR

for col in mod.columns[1:]:
     mod = mod.astype({col: str})

for col in rrr.columns[1:]:
     rrr = rrr.astype({col: str})

mod0 = pd.DataFrame({"Date": [today]})

# GROUPBY MANUALY

for col in mod.columns[1:]:
    mod0[col] = mod[col] + ' | ' + rrr[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod0

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,28/01/2023,8 | Le,23 | Li,4 | Ar,11 | Ca,15 | Ar,27 | Aq,17 | Ta,24 | Pi,28 | Cp

#### **MOD360**

In [10]:
revgui = hel.copy()

revgui['Earth'] = revgui['Earth'] / 360
revgui['Mer'] = revgui['Mer'] / 360
revgui['Ven'] = revgui['Ven'] / 360
revgui['Mar'] = revgui['Mar'] / 360
revgui['Jup'] = revgui['Jup'] / 360
revgui['Sat'] = revgui['Sat'] / 360
revgui['Nep'] = revgui['Nep'] / 360
revgui['Plu'] = revgui['Plu'] / 360

for col in revgui.columns[1:]:
     revgui = revgui.astype({col: int})
     
revgui

             Date  Earth  Mer  Ven  Mar  Jup  Sat  Ura  Nep  Plu
31527  28/01/2023      0    0    0    0    0    0   47    0    0
0      31/10/2008     14   59   23    7    1    0   57    0    0
0      03/01/2009     14   58   22    7    1    0   56    0    0
0      22/05/2010     12   52   20    6    1    0   50    0    0
0      29/11/2013      9   38   14    4    0    0   37    0    0
0      17/12/2017      5   21    8    2    0    0   21    0    0
0      15/12/2018      4   17    6    2    0    0   17    0    0
0      26/06/2019      3   14    5    1    0    0   15    0    0
0      12/03/2020      2   11    4    1    0    0   12    0    0
0      25/04/2021      1    7    2    0    0    0    7    0    0
0      20/07/2021      1    6    2    0    0    0    6    0    0
0      20/10/2021      1    5    2    0    0    0    5    0    0
0      10/11/2021      1    5    1    0    0    0    5    0    0
0      18/06/2022      0    2    0    0    0    0    2    0    0

In [11]:
hexx = hel.copy()
hexx

             Date  Earth    Mer   Ven   Mar  Jup  Sat  Ura  Nep  Plu
31527  28/01/2023    128    203     4   101   15  327   47  354  298
0      31/10/2008   5129  21287  8334  2746  438  163   57   32   28
0      03/01/2009   5065  21066  8232  2711  433  161   56   31   28
0      22/05/2010   4567  18998  7424  2442  388  144   50   28   25
0      29/11/2013   3300  13695  5363  1760  273  102   37   21   18
0      17/12/2017   1842   7655  2992   994  158   57   21   12   10
0      15/12/2018   1484   6156  2411   789  130   46   17    9    8
0      26/06/2019   1293   5376  2102   691  115   41   15    8    7
0      12/03/2020   1036   4308  1685   571   93   33   12    7    6
0      25/04/2021    632   2656  1030   339   58   20    7    4    4
0      20/07/2021    550   2309   891   301   51   18    6    4    3
0      20/10/2021    461   1923   745   260   43   15    5    3    3
0      10/11/2021    440   1815   712   251   41   14    5    3    3
0      18/06/2022    221    960   359   127   21    7    2    2    2

In [12]:
# BON CUM MOD/REV

hexx = hel.copy()

hexx['Earth'] = hexx['Earth'] / 360
hexx['Mer'] = hexx['Mer'] / 360
hexx['Ven'] = hexx['Ven'] / 360
hexx['Mar'] = hexx['Mar'] / 360
hexx['Jup'] = hexx['Jup'] / 360
hexx['Sat'] = hexx['Sat'] / 360
hexx['Nep'] = hexx['Nep'] / 360
hexx['Plu'] = hexx['Plu'] / 360

hecc = hel.copy()

hecc['Earth'] = hecc['Earth'] % 360
hecc['Mer'] = hecc['Mer'] % 360
hecc['Ven'] = hecc['Ven'] % 360
hecc['Mar'] = hecc['Mar'] % 360
hecc['Jup'] = hecc['Jup'] % 360
hecc['Sat'] = hecc['Sat'] % 360
hecc['Nep'] = hecc['Nep'] % 360
hecc['Plu'] = hecc['Plu'] % 360

hexx = hexx.iloc[1: , :]
hecc = hecc.iloc[1:, :]

# ROUNDDOWN

hexx = hexx.iloc[::, hexx.columns !='Date'].apply(np.floor)
hecc = hecc.iloc[::, hecc.columns !='Date'].apply(np.floor)

# STR

for col in hexx.columns[::]:
     hexx = hexx.astype({col: str})

for col in hecc.columns[::]:
     hecc = hecc.astype({col: str})

puant = pd.DataFrame({"Date": cumm_hel['Date']})

# GROUPBY MANUALY

for col in puant.columns[1:]:
     puant = puant.astype({col: int})

for col in hexx.columns[::]:
    puant[col] = hexx[col] + ' | ' + hecc[col] #.groupby('Date').agg('-'.join).reset_index()

puant

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,31/10/2008,14.0 | 89.0,59.0 | 47.0,23.0 | 54.0,7.0 | 226.0,1.0 | 78.0,0.0 | 163.0,57.0 | 57.0,0.0 | 32.0,0.0 | 28.0
0,03/01/2009,14.0 | 25.0,58.0 | 186.0,22.0 | 312.0,7.0 | 191.0,1.0 | 73.0,0.0 | 161.0,56.0 | 56.0,0.0 | 31.0,0.0 | 28.0
0,22/05/2010,12.0 | 247.0,52.0 | 278.0,20.0 | 224.0,6.0 | 282.0,1.0 | 28.0,0.0 | 144.0,50.0 | 50.0,0.0 | 28.0,0.0 | 25.0
0,29/11/2013,9.0 | 60.0,38.0 | 15.0,14.0 | 323.0,4.0 | 320.0,0.0 | 273.0,0.0 | 102.0,37.0 | 37.0,0.0 | 21.0,0.0 | 18.0
0,17/12/2017,5.0 | 42.0,21.0 | 95.0,8.0 | 112.0,2.0 | 274.0,0.0 | 158.0,0.0 | 57.0,21.0 | 21.0,0.0 | 12.0,0.0 | 10.0
0,15/12/2018,4.0 | 44.0,17.0 | 36.0,6.0 | 251.0,2.0 | 69.0,0.0 | 130.0,0.0 | 46.0,17.0 | 17.0,0.0 | 9.0,0.0 | 8.0
0,26/06/2019,3.0 | 213.0,14.0 | 336.0,5.0 | 302.0,1.0 | 331.0,0.0 | 115.0,0.0 | 41.0,15.0 | 15.0,0.0 | 8.0,0.0 | 7.0
0,12/03/2020,2.0 | 316.0,11.0 | 348.0,4.0 | 245.0,1.0 | 211.0,0.0 | 93.0,0.0 | 33.0,12.0 | 12.0,0.0 | 7.0,0.0 | 6.0
0,25/04/2021,1.0 | 272.0,7.0 | 136.0,2.0 | 310.0,0.0 | 339.0,0.0 | 58.0,0.0 | 20.0,7.0 | 7.0,0.0 | 4.0,0.0 | 4.0
0,20/07/2021,1.0 | 190.0,6.0 | 149.0,2.0 | 171.0,0.0 | 301.0,0.0 | 51.0,0.0 | 18.0,6.0 | 6.0,0.0 | 4.0,0.0 | 3.0
0,20/10/2021,1.0 | 101.0,5.0 | 123.0,2.0 | 25.0,0.0 | 260.0,0.0 | 43.0,0.0 | 15.0,5.0 | 5.0,0.0 | 3.0,0.0 | 3.0
0,10/11/2021,1.0 | 80.0,5.0 | 15.0,1.0 | 352.0,0.0 | 251.0,0.0 | 41.0,0.0 | 14.0,5.0 | 5.0,0.0 | 3.0,0.0 | 3.0
0,18/06/2022,0.0 | 221.0,2.0 | 240.0,0.0 | 359.0,0.0 | 127.0,0.0 | 21.0,0.0 | 7.0,2.0 | 2.0,0.0 | 2.0,0.0 | 2.0

### **II.1.3 CONCAT**

In [111]:
helio_concat = pd.concat([cumm_hel, puant], axis=0)
helio_concat.Date = pd.to_datetime(helio_concat.Date)
helio_concat = helio_concat.sort_values("Date", ignore_index=True)
helio_concat.Date = helio_concat.Date.dt.strftime("%d/%m/%Y")



hcc = pd.concat([result, mod0, helio_concat])

hcc.to_csv('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','helio_main.csv'), index = False, float_format = '%2f')

In [112]:
hcc

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
31527,28/01/2023,128,203,4,101,15,327,47,354,298
0,28/01/2023,8 | Le,23 | Li,4 | Ar,11 | Ca,15 | Ar,27 | Aq,17 | Ta,24 | Pi,28 | Cp
0,31/10/2008,5129,21287,8334,2746,438,163,57,32,28
1,31/10/2008,14.0 | 89.0,59.0 | 47.0,23.0 | 54.0,7.0 | 226.0,1.0 | 78.0,0.0 | 163.0,57.0 | 57.0,0.0 | 32.0,0.0 | 28.0
2,01/03/2009,5065,21066,8232,2711,433,161,56,31,28
3,01/03/2009,14.0 | 25.0,58.0 | 186.0,22.0 | 312.0,7.0 | 191.0,1.0 | 73.0,0.0 | 161.0,56.0 | 56.0,0.0 | 31.0,0.0 | 28.0
4,22/05/2010,4567,18998,7424,2442,388,144,50,28,25
5,22/05/2010,12.0 | 247.0,52.0 | 278.0,20.0 | 224.0,6.0 | 282.0,1.0 | 28.0,0.0 | 144.0,50.0 | 50.0,0.0 | 28.0,0.0 | 25.0
6,29/11/2013,3300,13695,5363,1760,273,102,37,21,18
7,29/11/2013,9.0 | 60.0,38.0 | 15.0,14.0 | 323.0,4.0 | 320.0,0.0 | 273.0,0.0 | 102.0,37.0 | 37.0,0.0 | 21.0,0.0 | 18.0
8,17/12/2017,1842,7655,2992,994,158,57,21,12,10
9,17/12/2017,5.0 | 42.0,21.0 | 95.0,8.0 | 112.0,2.0 | 274.0,0.0 | 158.0,0.0 | 57.0,21.0 | 21.0,0.0 | 12.0,0.0 | 10.0
10,15/12/2018,1484,6156,2411,789,130,46,17,9,8
11,15/12/2018,4.0 | 44.0,17.0 | 36.0,6.0 | 251.0,2.0 | 69.0,0.0 | 130.0,0.0 | 46.0,17.0 | 17.0,0.0 | 9.0,0.0 | 8.0
12,26/06/2019,3.0 | 213.0,14.0 | 336.0,5.0 | 302.0,1.0 | 331.0,0.0 | 115.0,0.0 | 41.0,15.0 | 15.0,0.0 | 8.0,0.0 | 7.0
13,26/06/2019,1293,5376,2102,691,115,41,15,8,7
14,03/12/2020,1036,4308,1685,571,93,33,12,7,6
15,03/12/2020,2.0 | 316.0,11.0 | 348.0,4.0 | 245.0,1.0 | 211.0,0.0 | 93.0,0.0 | 33.0,12.0 | 12.0,0.0 | 7.0,0.0 | 6.0
16,25/04/2021,1.0 | 272.0,7.0 | 136.0,2.0 | 310.0,0.0 | 339.0,0.0 | 58.0,0.0 | 20.0,7.0 | 7.0,0.0 | 4.0,0.0 | 4.0
17,25/04/2021,632,2656,1030,339,58,20,7,4,4
18,20/07/2021,1.0 | 190.0,6.0 | 149.0,2.0 | 171.0,0.0 | 301.0,0.0 | 51.0,0.0 | 18.0,6.0 | 6.0,0.0 | 4.0,0.0 | 3.0
19,20/07/2021,550,2309,891,301,51,18,6,4,3
20,11/10/2021,440,1815,712,251,41,14,5,3,3
21,11/10/2021,1.0 | 80.0,5.0 | 15.0,1.0 | 352.0,0.0 | 251.0,0.0 | 41.0,0.0 | 14.0,5.0 | 5.0,0.0 | 3.0,0.0 | 3.0
22,20/10/2021,461,1923,745,260,43,15,5,3,3
23,20/10/2021,1.0 | 101.0,5.0 | 123.0,2.0 | 25.0,0.0 | 260.0,0.0 | 43.0,0.0 | 15.0,5.0 | 5.0,0.0 | 3.0,0.0 | 3.0
24,18/06/2022,221,960,359,127,21,7,2,2,2
25,18/06/2022,0.0 | 221.0,2.0 | 240.0,0.0 | 359.0,0.0 | 127.0,0.0 | 21.0,0.0 | 7.0,2.0 | 2.0,0.0 | 2.0,0.0 | 2.0

## **II.2 GEO**

### **II.2.1 CUMUL GEO**

In [15]:
from datetime import datetime

today = datetime.strftime(datetime.now(), "%d/%m/%Y")

geo_cum = geo_cum.fillna(111)
for col in geo_cum.columns[1:]:
     geo_cum = geo_cum.astype({col: int})

cumulative_1 = geo_cum.copy()
cumulative_2 = geo_cum.copy()
cumulative_3 = geo_cum.copy()
cumulative_4 = geo_cum.copy()
cumulative_5 = geo_cum.copy()
cumulative_6 = geo_cum.copy()
cumulative_7 = geo_cum.copy()
cumulative_8 = geo_cum.copy()
cumulative_9 = geo_cum.copy()
cumulative_10 = geo_cum.copy()
cumulative_11 = geo_cum.copy()
cumulative_12 = geo_cum.copy()
cumulative_13 = geo_cum.copy()

geo = geo.copy()
for col in geo.columns[1:]:
     geo = geo.astype({col: int})

result_g = geo[geo.Date == today]

def cum_geo(df, date):
    today = datetime.strftime(datetime.now(), "%d/%m/%Y")
    return pd.DataFrame(
        {
            "Date": [date],
            "Moon": df["Moon"][df.Date == today].values
            - df["Moon"][df.Date == date].values,
            "Sun": df["Sun"][df.Date == today].values
            - df["Sun"][df.Date == date].values,
            "Mer": df["Mer"][df.Date == today].values
            - df["Mer"][df.Date == date].values,
            "Ven": df["Ven"][df.Date == today].values
            - df["Ven"][df.Date == date].values,
            "Mar": df["Mar"][df.Date == today].values
            - df["Mar"][df.Date == date].values,
            "Jup": df["Jup"][df.Date == today].values
            - df["Jup"][df.Date == date].values,
            "Sat": df["Sat"][df.Date == today].values
            - df["Sat"][df.Date == date].values,
            "Ura": df["Ura"][df.Date == today].values
            - df["Ura"][df.Date == date].values,
            "Nep": df["Nep"][df.Date == today].values
            - df["Nep"][df.Date == date].values,
            "Plu": df["Plu"][df.Date == today].values
            - df["Plu"][df.Date == date].values,
        }
    )

filtered_dfs = []

data = [
  (cumulative_1, '31/10/2008'),
  (cumulative_2, '03/01/2009'),
  (cumulative_3, '22/05/2010'),
  (cumulative_4, '29/11/2013'),
  (cumulative_5, '17/12/2017'),
  (cumulative_6, '15/12/2018'),
  (cumulative_7, '26/06/2019'),
  (cumulative_8, '12/03/2020'),
  (cumulative_9, '25/04/2021'),
  (cumulative_10, '20/07/2021'),
  (cumulative_11, '20/10/2021'),
  (cumulative_12, '10/11/2021'),
  (cumulative_13, '18/06/2022'),
]

for i, (df, date) in enumerate(data):
  filtered_dfs.append(cum_geo(df, date))

cumm_geo = pd.concat(filtered_dfs)
geol = pd.concat([result_g, cumm_geo])

for col in geol.columns[1:]:
     geol = geol.astype({col: int})
     
geol

             Date   Moon   Sun   Mer   Ven   Mar   Jup  Sat  Ura  Nep  Plu
31527  28/01/2023     34   308   283   331    69     5  325   44  353  298
0      31/10/2008  68781  5129  5480  5836  2721  1158  156  416   32   29
0      03/01/2009  67715  5065  5381  5762  2675  1146  153  416   31   27
0      22/05/2010  61067  4567  4927  4919  2448  1087  147  405   25   23
0      29/11/2013  44116  3300  3292  3641  1694   615   98   36   21   18
0      17/12/2017  24618  1842  1827  1871   935   501   55   20   12   10
0      15/12/2018  19842  1484  1481  1553   801   477   46   16   10    8
0      26/06/2019  17299  1293  1244  1330   673   468   37    9    5    6
0      12/03/2020  13868  1036  1035  1014   503   434   26   11    5    4
0      25/04/2021   8486   632   601   648   339   398   12    5    2    1
0      20/07/2021   7349   550   539   544   286   394   14    1    1    3
0      20/10/2021   6130   461   453   438   227   403   18    2    3    4
0      10/11/2021   5853   440   426   417   213   402   17    3    3    3
0      18/06/2022   2955   221   219   277    52   359    0   -2   -2    0

### **II.2.2 MOD30 & 360 GEO**

#### **MOD30**

In [16]:
# mod30 (donne qu'elle signe il est)

mod_g = pd.DataFrame({'Date': [today],

                                       'Moon': result_g['Moon'][result_g.Date == today].values
                                       % 30,

                                        'Sun': result_g['Sun'][result_g.Date == today].values
                                       % 30,

                                       'Mer': result_g['Mer'][result_g.Date == today].values
                                       % 30,
                                       
                                       'Ven': result_g['Ven'][result_g.Date == today].values
                                       % 30,

                                       'Mar': result_g['Mar'][result_g.Date == today].values
                                       % 30,

                                       'Jup': result_g['Jup'][result_g.Date == today].values
                                       % 30,
                                       
                                       'Sat': result_g['Sat'][result_g.Date == today].values
                                       % 30,

                                       'Ura': result_g['Ura'][result_g.Date == today].values
                                       % 30,

                                       'Nep': result_g['Nep'][result_g.Date == today].values
                                       % 30,
                                       
                                       'Plu': result_g['Plu'][result_g.Date == today].values
                                       % 30,

                                       })

mod_g.round()

         Date  Moon  Sun  Mer  Ven  Mar  Jup  Sat  Ura  Nep  Plu
0  28/01/2023     4    8   13    1    9    5   25   14   23   28

In [17]:
# rrr

# mod30 (donne qu'elle signe il est)

rrr_g = result_g.copy() # rrr

for col in rrr_g.columns[1:]:
     rrr_g= rrr_g.astype({col: "int64"})

rrr_g = pd.DataFrame({'Date': [today],

                                       'Moon': rrr_g['Moon'][rrr_g.Date == today].values
                                       ,

                                        'Sun': rrr_g['Sun'][rrr_g.Date == today].values
                                       ,

                                       'Mer': rrr_g['Mer'][rrr_g.Date == today].values
                                       ,
                                       
                                       'Ven': rrr_g['Ven'][rrr_g.Date == today].values
                                       ,

                                       'Mar': rrr_g['Mar'][rrr_g.Date == today].values
                                       ,

                                       'Jup': rrr_g['Jup'][rrr_g.Date == today].values
                                       ,
                                       
                                       'Sat': rrr_g['Sat'][rrr_g.Date == today].values
                                       ,

                                       'Ura': rrr_g['Ura'][rrr_g.Date == today].values
                                       ,

                                       'Nep': rrr_g['Nep'][rrr_g.Date == today].values
                                       ,
                                       
                                       'Plu': rrr_g['Plu'][rrr_g.Date == today].values
                                       ,

                                       })

rrr_g.round()

for i in rrr_g['Moon']: 
        if (0<=i<=29):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Moon'] = rrr_g['Moon'].replace(i, "Pi")

for i in rrr_g['Sun']: 
        if (0<=i<=29):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Sun'] = rrr_g['Sun'].replace(i, "Pi")

for i in rrr_g['Mer']: 
        if (0<=i<=29):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Mer'] = rrr_g['Mer'].replace(i, "Pi")

for i in rrr_g['Ven']: 
        if (0<=i<=29):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Ven'] = rrr_g['Ven'].replace(i, "Pi")

for i in rrr_g['Mar']: 
        if (0<=i<=29):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Mar'] = rrr_g['Mar'].replace(i, "Pi")

for i in rrr_g['Jup']: 
        if (0<=i<=29):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Jup'] = rrr_g['Jup'].replace(i, "Pi")

for i in rrr_g['Sat']: 
        if (0<=i<=29):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Sat'] = rrr_g['Sat'].replace(i, "Pi")

for i in rrr_g['Ura']: 
        if (0<=i<=29):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Ura'] = rrr_g['Ura'].replace(i, "Pi")

for i in rrr_g['Nep']: 
        if (0<=i<=29):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Nep'] = rrr_g['Nep'].replace(i, "Pi")

for i in rrr_g['Plu']: 
        if (0<=i<=29):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Ar")
        elif (30<=i<=59):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Ta")
        elif (60<=i<=89):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Ge")
        elif (90<=i<=119):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Ca")
        elif (120<=i<=149):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Le")
        elif (150<=i<=179):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Vi")
        elif (180<=i<=209):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Li")
        elif (209<=i<=239):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Sc")
        elif (240<=i<=269):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Sg")
        elif (270<=i<=299):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Cp")
        elif (300<=i<=329):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Aq")
        elif (330<=i<=359):
            rrr_g['Plu'] = rrr_g['Plu'].replace(i, "Pi")

rrr_g

         Date Moon Sun Mer Ven Mar Jup Sat Ura Nep Plu
0  28/01/2023   Ta  Aq  Cp  Pi  Ge  Ar  Aq  Ta  Pi  Cp

In [18]:
mod_g = mod_g.round()

# STR

for col in mod_g.columns[1:]:
     mod_g = mod_g.astype({col: str})

for col in rrr_g.columns[1:]:
     rrr_g = rrr_g.astype({col: str})

mod0_g = pd.DataFrame({"Date": [today]})

# GROUPBY MANUALY

for col in mod_g.columns[1:]:
    mod0_g[col] = mod_g[col] + ' | ' + rrr_g[col] #.groupby('Date').agg('-'.join).reset_index()
    
mod0_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,28/01/2023,4 | Ta,8 | Aq,13 | Cp,1 | Pi,9 | Ge,5 | Ar,25 | Aq,14 | Ta,23 | Pi,28 | Cp

#### **MOD360**

In [19]:
# BON CUM MOD/REV

gexx = geol.copy()
for col in gexx.columns[1:]:
     gexx = gexx.astype({col: int})

gexx['Moon'] = gexx['Moon'] / 360
gexx['Sun'] = gexx['Sun'] / 360
gexx['Mer'] = gexx['Mer'] / 360
gexx['Ven'] = gexx['Ven'] / 360
gexx['Mar'] = gexx['Mar'] / 360
gexx['Jup'] = gexx['Jup'] / 360
gexx['Sat'] = gexx['Sat'] / 360
gexx['Nep'] = gexx['Nep'] / 360
gexx['Plu'] = gexx['Plu'] / 360

gecc = geol.copy()
for col in gecc.columns[1:]:
     gecc = gecc.astype({col: int})

gecc['Moon'] = gecc['Moon'] % 360
gecc['Sun'] = gecc['Sun'] % 360
gecc['Mer'] = gecc['Mer'] % 360
gecc['Ven'] = gecc['Ven'] % 360
gecc['Mar'] = gecc['Mar'] % 360
gecc['Jup'] = gecc['Jup'] % 360
gecc['Sat'] = gecc['Sat'] % 360
gecc['Nep'] = gecc['Nep'] % 360
gecc['Plu'] = gecc['Plu'] % 360

gexx = gexx.iloc[1: , :]
gecc = gecc.iloc[1:, :]

# ROUNDDOWN

gexx = gexx.iloc[::, gexx.columns !='Date'].apply(np.floor)
gecc = gecc.iloc[::, gecc.columns !='Date'].apply(np.floor)

# STR

for col in gexx.columns[::]:
     gexx = gexx.astype({col: str})

for col in gecc.columns[::]:
     gecc = gecc.astype({col: str})

puant_g = pd.DataFrame({"Date": cumm_hel['Date']})

# GROUPBY MANUALY

for col in puant_g.columns[1:]:
     puant_g = puant_g.astype({col: int})

for col in gexx.columns[::]:
    puant_g[col] = gexx[col] + ' | ' + gecc[col] #.groupby('Date').agg('-'.join).reset_index()
    
puant_g

,Date,Moon,Sun,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,31/10/2008,191.0 | 21.0,14.0 | 89.0,15.0 | 80.0,16.0 | 76.0,7.0 | 201.0,3.0 | 78.0,0.0 | 156.0,416.0 | 416.0,0.0 | 32.0,0.0 | 29.0
0,03/01/2009,188.0 | 35.0,14.0 | 25.0,14.0 | 341.0,16.0 | 2.0,7.0 | 155.0,3.0 | 66.0,0.0 | 153.0,416.0 | 416.0,0.0 | 31.0,0.0 | 27.0
0,22/05/2010,169.0 | 227.0,12.0 | 247.0,13.0 | 247.0,13.0 | 239.0,6.0 | 288.0,3.0 | 7.0,0.0 | 147.0,405.0 | 405.0,0.0 | 25.0,0.0 | 23.0
0,29/11/2013,122.0 | 196.0,9.0 | 60.0,9.0 | 52.0,10.0 | 41.0,4.0 | 254.0,1.0 | 255.0,0.0 | 98.0,36.0 | 36.0,0.0 | 21.0,0.0 | 18.0
0,17/12/2017,68.0 | 138.0,5.0 | 42.0,5.0 | 27.0,5.0 | 71.0,2.0 | 215.0,1.0 | 141.0,0.0 | 55.0,20.0 | 20.0,0.0 | 12.0,0.0 | 10.0
0,15/12/2018,55.0 | 42.0,4.0 | 44.0,4.0 | 41.0,4.0 | 113.0,2.0 | 81.0,1.0 | 117.0,0.0 | 46.0,16.0 | 16.0,0.0 | 10.0,0.0 | 8.0
0,26/06/2019,48.0 | 19.0,3.0 | 213.0,3.0 | 164.0,3.0 | 250.0,1.0 | 313.0,1.0 | 108.0,0.0 | 37.0,9.0 | 9.0,0.0 | 5.0,0.0 | 6.0
0,12/03/2020,38.0 | 188.0,2.0 | 316.0,2.0 | 315.0,2.0 | 294.0,1.0 | 143.0,1.0 | 74.0,0.0 | 26.0,11.0 | 11.0,0.0 | 5.0,0.0 | 4.0
0,25/04/2021,23.0 | 206.0,1.0 | 272.0,1.0 | 241.0,1.0 | 288.0,0.0 | 339.0,1.0 | 38.0,0.0 | 12.0,5.0 | 5.0,0.0 | 2.0,0.0 | 1.0
0,20/07/2021,20.0 | 149.0,1.0 | 190.0,1.0 | 179.0,1.0 | 184.0,0.0 | 286.0,1.0 | 34.0,0.0 | 14.0,1.0 | 1.0,0.0 | 1.0,0.0 | 3.0
0,20/10/2021,17.0 | 10.0,1.0 | 101.0,1.0 | 93.0,1.0 | 78.0,0.0 | 227.0,1.0 | 43.0,0.0 | 18.0,2.0 | 2.0,0.0 | 3.0,0.0 | 4.0
0,10/11/2021,16.0 | 93.0,1.0 | 80.0,1.0 | 66.0,1.0 | 57.0,0.0 | 213.0,1.0 | 42.0,0.0 | 17.0,3.0 | 3.0,0.0 | 3.0,0.0 | 3.0
0,18/06/2022,8.0 | 75.0,0.0 | 221.0,0.0 | 219.0,0.0 | 277.0,0.0 | 52.0,0.0 | 359.0,0.0 | 0.0,-2.0 | -2.0,-1.0 | 358.0,0.0 | 0.0

### **II.2.3 CONCAT**

In [20]:
geo_concat = pd.concat([cumm_geo, puant_g], axis=0)
geo_concat.Date = pd.to_datetime(geo_concat.Date)
geo_concat = geo_concat.sort_values("Date", ignore_index=True)
geo_concat.Date = geo_concat.Date.dt.strftime("%d/%m/%Y")

gcc = pd.concat([result_g, mod0_g, geo_concat])
gcc.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','geo_main.csv'), index = False, float_format = '%2f')

# **III. ASPECTS TABLE & TOOLS.py**

### **III.1 Aspects H/G TrTr & TrNa**

#### **III.1.1 HELIO TrTr & TrNa**

#### **inner code**

In [21]:
# HELIO ASPECT TrTr - MADE BY US AUTOMATICALY FINDS INTO DATA

#ha = helio_asp
#col = []
#cols = ha.columns[1:]
#df = ha[cols]
#Date = list[ha['Date']]

#for columns in df.columns:

    #globals()["liste_%s"%columns] = []

    #for row, i in enumerate(df[columns]):
        #if (i >= 0 and i <= 0.03) or (i >= 3.75 and i <= 3.755) or (i >= 7.5 and i <= 7.55) or (i >= 15 and i <= 15.15) or (i >= 22.5 and i <= 22.55) or (i >= 30 and i <= 30.15) or (i >= 36 and i <= 36.15) or (i >= 45 and i <= 45.15) or (i >= 60 and i <= 60.15) or (i >= 72 and i <= 72.15) or (i >= 90 and i <= 90.15) or (i >= 120 and i <= 120.15) or (i >= 135 and i <= 135.15) or (i >= 144 and i <= 144.15) or (i >= 150 and i <= 150.15) or (i >= 180 and i <= 180.15):
            #globals()["liste_%s"%columns].append(i)
        #else:
            #globals()["liste_%s"%columns].append(" ")

#flu = helio_asp[['Date']].copy()
#dict = {'Sun_Mer': liste_Sun_Mer, 'Sun_Ven': liste_Sun_Ven, 'Sun_Mar': liste_Sun_Mar, 'Sun_Jup': liste_Sun_Jup, 'Sun_Sat': liste_Sun_Sat, 'Sun_Ura': liste_Sun_Ura, 'Sun_Nep': liste_Sun_Nep, 'Sun_Plu': liste_Sun_Plu, 'Mer_Ven': liste_Mer_Ven, 'Mer_Mar': liste_Mer_Mar, 'Mer_Jup': liste_Mer_Jup, 'Mer_Sat': liste_Mer_Sat, 'Mer_Ura': liste_Mer_Ura, 'Mer_Nep': liste_Mer_Nep, 'Mer_Plu': liste_Mer_Plu, 'Ven_Mar': liste_Ven_Mar, 'Ven_Jup': liste_Ven_Jup, 'Ven_Sat': liste_Ven_Sat, 'Ven_Ura': liste_Ven_Ura, 'Ven_Nep': liste_Ven_Nep, 'Ven_Plu': liste_Ven_Plu, 'Mar_Jup': liste_Mar_Jup, 'Mar_Sat': liste_Mar_Sat, 'Mar_Ura': liste_Mar_Ura, 'Mar_Nep': liste_Mar_Nep, 'Mar_Plu': liste_Mar_Plu, 'Jup_Sat': liste_Jup_Sat, 'Jup_Ura': liste_Jup_Ura, 'Jup_Nep': liste_Jup_Nep, 'Jup_Plu': liste_Jup_Plu, 'Sat_Ura': liste_Sat_Ura, 'Sat_Nep': liste_Sat_Nep, 'Sat_Plu': liste_Sat_Plu, 'Ura_Nep': liste_Ura_Nep, 'Ura_Plu': liste_Ura_Plu, 'Nep_Plu': liste_Nep_Plu} 
#dfObj = pd.DataFrame(dict)
#flu = helio_asp[['Date']].copy()
#concat_asp = pd.concat([flu, dfObj], axis=1)

#asp_con = concat_asp[concat_asp.Date == today]
#asp_con.round()

In [22]:
b = points_tr.copy()

b.fillna(0, inplace=True)

b_h = b[b["Type"] == "Helio"]
b_g = b[b["Type"] == "Geo"]

b_h = b_h.drop(['Type'], axis = 1)
b_g = b_g.drop(['Type'], axis = 1)
b_con = pd.concat([b_h, b_g])

b_con['Date'] = pd.to_datetime(b_con['Date'])  

start_date = t  - timedelta(days = 1)
end_date = t + timedelta(days = 3)

mask = (b_con['Date'] > start_date) & (b_con['Date'] <= end_date)
b_hits = b_con.loc[mask]
b_hits = b_hits.sort_values(by=['Date'], ascending = True)
b_trtr = b_hits

b_trtr

           Date  Points
2358 2023-01-28       5
2359 2023-01-28      20
2360 2023-01-29       5
2361 2023-01-30      10
2362 2023-01-30      10
2363 2023-01-30       5
2366 2023-01-31      10
2364 2023-01-31      10
2365 2023-01-31      10

In [23]:
x = points_na.copy()

x.fillna(0, inplace=True)

x_h = x[x["Type"] == "Helio"]
x_g = x[x["Type"] == "Geo"]

x_h = x_h.drop(['Type'], axis = 1)
x_h = x_h.drop(['Angle'], axis = 1)
x_h = x_h.drop(['Pair'], axis = 1)

x_g = x_g.drop(['Type'], axis = 1)
x_g = x_g.drop(['Angle'], axis = 1)
x_g = x_g.drop(['Pair'], axis = 1)

x_con = pd.concat([x_h, x_g])

x_con['Date'] = pd.to_datetime(x_con['Date'])  
start_date = t  - timedelta(days = 1)
end_date = t + timedelta(days = 120)

mask = (x_con['Date'] > start_date) & (x_con['Date'] <= end_date)

x_hits = x_con.loc[mask]
x_hits = x_hits.sort_values(by=['Date'], ascending = True)
x_hi = x_con.loc[mask]
x_hi = x_hi.sort_values(by=['Date'], ascending = True)

#### **result**

In [24]:
fig = px.bar(b_trtr, x="Date", y="Points", text="Points", title="Aspects TrTr Points")
fig.show()

In [25]:
# H_TrTr

TrTr = TrTr.copy()
helio_ap = TrTr[TrTr["Type"] == "Helio"]
helio_TrTr = helio_ap[helio_ap.Date == today]

dz_TrTr_Asp = helio_TrTr
dz_TrTr_Asp.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','aspects_h_tr.csv'), index= False)

helio_TrTr.style.background_gradient(cmap='Blues')

In [26]:
# H_TrNa

TrNa = TrNa.copy()
helio_TrNa = TrNa[TrNa["Type"] == "Helio"]
helio_TrNa = helio_TrNa[helio_TrNa.Date == today]

dz_TrNa_Asp = helio_TrNa
dz_TrNa_Asp.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','aspects_h_na.csv'), index= False)

helio_TrNa.style.background_gradient(cmap='Blues')

#### **III.1.2 GEO TrTr & TrNa**

In [27]:
fig = px.bar(x_hi, x="Date", y="Points", text="Points", title="Aspects TrNa Points")
fig.show()

In [28]:
# G_TrTr

geo_ap = TrTr[TrTr["Type"] == "Geo"]
geo_TrTr = geo_ap[geo_ap.Date == today]

dz_Gtr_Asp = geo_TrTr
dz_Gtr_Asp.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','aspects_g_tr.csv'), index= False)

geo_TrTr.style.bar(subset=["Angle"],color='Blue')

In [29]:
# G_TrNa

geo_TrNa = TrNa[TrNa["Type"] == "Geo"]
geo_TrNa = geo_TrNa[geo_TrNa.Date == today]

dz_Gna_Asp = geo_TrNa
dz_Gna_Asp.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','aspects_g_na.csv'), index= False)

geo_TrNa.style.background_gradient(cmap='Blues')

In [30]:
# GEO ASPECTS TrTr

#ga = geo_asp_good

#col = []
#cols = ha.columns[1:]
#df = ga[cols]
#Date = list[ga['Date']]

#for columns in df.columns:

    #globals()["lizte_%s"%columns] = []

    #for row, i in enumerate(df[columns]):
        #if (i >= 0 and i <= 0.03) or (i >= 3.75 and i <= 3.755) or (i >= 7.5 and i <= 7.59) or (i >= 15 and i <= 15.15) or (i >= 22.5 and i <= 22.55) or (i >= 30 and i <= 30.15) or (i >= 36 and i <= 36.15) or (i >= 45 and i <= 45.15) or (i >= 60 and i <= 60.15) or (i >= 72 and i <= 72.15) or (i >= 90 and i <= 90.15) or (i >= 120 and i <= 120.15) or (i >= 135 and i <= 135.15) or (i >= 144 and i <= 144.15) or (i >= 150 and i <= 150.15) or (i >= 180 and i <= 180.15):
        #    globals()["lizte_%s"%columns].append(i)
        #else:
          #  globals()["lizte_%s"%columns].append(" ")

#flu1 = geo_asp_good[['Date']].copy()
#dict = {'Sun_Mer': lizte_Sun_Mer, 'Sun_Ven': lizte_Sun_Ven, 'Sun_Mar': lizte_Sun_Mar, 'Sun_Jup': lizte_Sun_Jup, 'Sun_Sat': lizte_Sun_Sat, 'Sun_Ura': lizte_Sun_Ura, 'Sun_Nep': lizte_Sun_Nep, 'Sun_Plu': lizte_Sun_Plu, 'Mer_Ven': lizte_Mer_Ven, 'Mer_Mar': lizte_Mer_Mar, 'Mer_Jup': lizte_Mer_Jup, 'Mer_Sat': lizte_Mer_Sat, 'Mer_Ura': lizte_Mer_Ura, 'Mer_Nep': lizte_Mer_Nep, 'Mer_Plu': lizte_Mer_Plu, 'Ven_Mar': lizte_Ven_Mar, 'Ven_Jup': lizte_Ven_Jup, 'Ven_Sat': lizte_Ven_Sat, 'Ven_Ura': lizte_Ven_Ura, 'Ven_Nep': lizte_Ven_Nep, 'Ven_Plu': lizte_Ven_Plu, 'Mar_Jup': lizte_Mar_Jup, 'Mar_Sat': lizte_Mar_Sat, 'Mar_Ura': lizte_Mar_Ura, 'Mar_Nep': lizte_Mar_Nep, 'Mar_Plu': lizte_Mar_Plu, 'Jup_Sat': lizte_Jup_Sat, 'Jup_Ura': lizte_Jup_Ura, 'Jup_Nep': lizte_Jup_Nep, 'Jup_Plu': lizte_Jup_Plu, 'Sat_Ura': lizte_Sat_Ura, 'Sat_Nep': lizte_Sat_Nep, 'Sat_Plu': lizte_Sat_Plu, 'Ura_Nep': lizte_Ura_Nep, 'Ura_Plu': lizte_Ura_Plu, 'Nep_Plu': lizte_Nep_Plu}
#dfObj = pd.DataFrame(dict)
#concat_asp_g = pd.concat([flu1, dfObj], axis=1)

#geo_con = concat_asp_g[concat_asp_g.Date == today]
#geo_con.round()

### **III.2 Retro**

*(0 = rien | 1 = RETRO | 2 = RETURN)*

In [31]:
# Remove the nan and fill the empty string
retro = retro.copy()

retro.fillna('')
retro = retro.replace(np.nan,'',regex = True)

dz_Retr = retro[retro.Date == today]
dz_Retr.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','retro_asp.csv'), index= False)

retro1 = retro[retro.Date == today]
retro1.style.background_gradient(cmap='Blues')

### **III.3 Declinations**

In [32]:
# dec_lat

lat_moon_changes = lat_moon_changes.copy()

dec_lat = pd.DataFrame({'Date': [today],

                                       'Dec/Lat': lat_moon_changes['LatChanges'][lat_moon_changes.Date == today].values
                                       + lat_moon_changes['MoonChanges'][lat_moon_changes.Date == today].values,

                                       })

dz_dec_lat = dec_lat[dec_lat.Date == today]
dz_dec_lat.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','dec_lat.csv'), index= False)

dec_lat.style.background_gradient(cmap='Blues')

### **III.4 GEO TOOLS**

In [33]:
# GEO TOOLS

declinations = declinations.copy()
latitudes = latitudes.copy()
Moon = Moon.copy()
planet_node = planet_node.copy()
samedec_samelat = samedec_samelat.copy()

tools_con = pd.concat([declinations, lat_moon_changes, latitudes, Moon, planet_node, samedec_samelat])

tools = pd.DataFrame({'Date': [today],

                                       'New Moon': Moon['NewMoon'][Moon.Date == today].values,

                                       'Full Moon': Moon['FullMoon'][Moon.Date == today].values,

                                       'Node': planet_node['Planet Node'][planet_node.Date == today].values,

                                       'Same Dec': samedec_samelat['Same Dec'][samedec_samelat.Date == today].values,        

                                       'Same Lat': samedec_samelat['Same Lat'][samedec_samelat.Date == today].values,

                                       'Lat Changes': lat_moon_changes['LatChanges'][lat_moon_changes.Date == today].values,    

                                       'Moon Changes': lat_moon_changes['MoonChanges'][lat_moon_changes.Date == today].values,

                                       'Lat Changes': lat_moon_changes['LatChanges'][lat_moon_changes.Date == today].values,       
                                                                                                             
})

tools.fillna('')
tools = tools.replace(0, np.nan)
tools = tools.replace(np.nan,'',regex = True)

dz_tools = tools[tools.Date == today]
dz_tools.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','tools.csv'), index= False)

tools.style.background_gradient(cmap='Blues')

# **IV. SPIRAL TAB.py**

## 1. Code

In [34]:
# Match every dates to cols
from datetime import datetime
from datetime import timedelta

Spiral = Spiral.copy()

for col in Spiral.columns[1:]:
    Spiral[col] = ((pd.to_datetime(Spiral['Date']) + pd.to_timedelta(f'{col} days'))
               .dt.strftime('%d/%m/%Y'))

dx = Spiral[1:].unstack().value_counts(ascending=False)

dx = pd.DataFrame(dx, columns=['Hit'])

dx = dx.reset_index()
dx = dx.rename_axis('E', axis=1)
dx.columns = dx.columns.str.replace('index', 'Date')
dx = dx.rename_axis(None, axis=1)

dx['Date'] = pd.to_datetime(dx['Date'])  

dayyy = datetime.strftime(datetime.now(), "%Y/%m/%d")
t = pd.to_datetime(dayyy)
t = pd.to_datetime(t)

start_date = t  - timedelta(days = 2)
end_date = t + timedelta(days = 90)

mask = (dx['Date'] > start_date) & (dx['Date'] <= end_date)
Spiral_hits = dx.loc[mask]
Spiral_hits = Spiral_hits.sort_values(by=['Date'])

Spiral_hits.head(15).style.background_gradient(cmap='Blues')

In [35]:
dz_Spi = Spiral_hits.head(30)
dz_Spi.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','Spi.csv'), index= False)

## 2. Result

In [36]:
fig = px.bar(Spiral_hits, x='Date', y='Hit')
fig.show()

# **V. NatSq.py**

## 1. Code

In [37]:
NatSq = NatSq.copy()
NatSq = NatSq.drop(['Type'], axis=1)

# Match every dates to cols

for col in NatSq.columns[1:]:
    NatSq[col] = ((pd.to_datetime(NatSq['Date']) + pd.to_timedelta(f'{col} days'))
               .dt.strftime('%d/%m/%Y'))

dx = NatSq[1:].unstack().value_counts(ascending=False)

dx = pd.DataFrame(dx, columns=['Hit'])

dx = dx.reset_index()
dx = dx.rename_axis('E', axis=1)
dx.columns = dx.columns.str.replace('index', 'Date')
dx = dx.rename_axis(None, axis=1)

dx['Date'] = pd.to_datetime(dx['Date'])

start_date = t  - timedelta(days = 2)
end_date = t + timedelta(days = 90)

mask = (dx['Date'] > start_date) & (dx['Date'] <= end_date)
NatSq_hits = dx.loc[mask]
NatSq_hits = NatSq_hits.sort_values(by=['Date'])

NatSq_hits.head(10).style.background_gradient(cmap='Blues')

In [38]:
dz_Nat = NatSq_hits.head(30)
dz_Nat.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','NatSq.csv'), index= False)

## 2. Result

In [39]:
fig = px.bar(NatSq_hits, x='Date', y='Hit')
fig.show()

# **VI. addPrice.py**

## 1. Code

In [40]:
kek_p = helio.copy()

In [41]:
hexxx = helio[helio.Date == "31/10/2008"]
hexxx

             Date  Earth  Mer  Ven  Mar  Jup  Sat  Ura  Nep  Plu
26325  31/10/2008     38  155  310  235  297  163  351  323  270

In [42]:
pa = priceadd.copy()
pa

          Date  Price  Earth  Mer  Ven  Mar  Jup  Sat  Ura  Nep  Plu
0   31/10/2008      0    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   03/01/2009      0    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   10/04/2013    290    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3   03/07/2013    685    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   05/10/2013    275    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
..         ...    ...    ...  ...  ...  ...  ...  ...  ...  ...  ...
57  27/12/2021  52100    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
58  24/01/2022  32933    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
59  24/02/2022  34425    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
60  29/03/2022  48192    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
61  18/06/2022  17600    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[62 rows x 11 columns]

In [43]:
outp = pd.DataFrame()

for col in pa.columns:
    outp[col] = pa[col]

    if col not in ("Date", "Price"):
        
        for row, _ in helio.iterrows():
            date = helio["Date"][row]
            dates_list = pa["Date"].to_list()

            if date in dates_list:
                row_index = dates_list.index(date)
                outp[col][row_index] = helio[col][row]

output = outp.copy()                

print(outp)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_15596\3048188743.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          Date  Price  Earth    Mer    Ven    Mar    Jup    Sat    Ura    Nep  \
0   31/10/2008      0   38.0  155.0  310.0  235.0  297.0  163.0  351.0  323.0
1   03/01/2009      0  103.0   16.0   52.0  270.0  302.0  166.0  351.0  323.0
2   10/04/2013    290  200.0  280.0   28.0   23.0   82.0  217.0    8.0  333.0
3   03/07/2013    685  281.0  269.0  164.0   70.0   89.0  220.0    9.0  333.0
4   05/10/2013    275   12.0  286.0  314.0  116.0   97.0  223.0   10.0  334.0
..         ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
57  27/12/2021  52100   95.0  333.0   88.0  233.0  338.0  314.0   43.0  352.0
58  24/01/2022  32933  124.0  128.0  133.0  248.0  341.0  315.0   43.0  352.0
59  24/02/2022  34425  155.0  244.0  183.0  265.0  344.0  316.0   44.0  352.0
60  29/03/2022  48192  188.0  350.0  236.0  284.0  347.0  317.0   44.0  352.0
61  18/06/2022  17600  267.0  322.0    5.0  334.0  354.0  320.0   45.0  353.0

      Plu
0   270.0
1   270.0
2   279.0
3   280.0
4   280.0
..    ...
57  296.0
58  296.0
59  296.0
60  296.0
61  297.0

[62 rows x 11 columns]

In [44]:
# PA_1000

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa1k = output.copy()
pa1k.Price = pa1k.Price / 1000 # <- change here

# Add price to all planets

for i in pa1k.columns[2:]:
    pa1k[i] = pa1k[i] + pa1k.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa1k.columns[2:]:
    for num, j in enumerate(pa1k[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa1k[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa1k.columns[2:]:
    for num, i in enumerate(pa1k[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa1k[planets].iloc[num] = Date_ok
        else:
            pa1k[planets].iloc[num] = " "

pa1k

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Price,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,31/10/2008,0.000,01/11/2030,28/12/2030,24/12/2030,10/07/2029,18/09/2020,02/11/2008,14/01/2009,20/02/2009,05/01/2009
1,03/01/2009,0.000,03/01/2029,26/11/2024,04/12/2029,12/09/2029,16/11/2020,27/01/2009,14/01/2009,20/02/2009,05/01/2009
2,10/04/2013,0.290,,,,,,,,,
3,03/07/2013,0.685,,,,,,,,,
4,05/10/2013,0.275,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...
57,27/12/2021,52.100,,,,,,,,,
58,24/01/2022,32.933,,,,,,,,,
59,24/02/2022,34.425,,,,,,,,,
60,29/03/2022,48.192,,,,,,,,,
61,18/06/2022,17.600,,,,,,,,,

In [45]:
# PA_100

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa100 = output.copy()
pa100.Price = pa100.Price / 100 # <- change here

# Add price to all planets

for i in pa100.columns[2:]:
    pa100[i] = pa100[i] + pa100.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa100.columns[2:]:
    for num, j in enumerate(pa100[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa100[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa100.columns[2:]:
    for num, i in enumerate(pa100[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa100[planets].iloc[num] = Date_ok
        else:
            pa100[planets].iloc[num] = " "

pa100

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Price,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,31/10/2008,0.00,01/11/2030,28/12/2030,24/12/2030,10/07/2029,18/09/2020,02/11/2008,14/01/2009,20/02/2009,05/01/2009
1,03/01/2009,0.00,03/01/2029,26/11/2024,04/12/2029,12/09/2029,16/11/2020,27/01/2009,14/01/2009,20/02/2009,05/01/2009
2,10/04/2013,2.90,,,,,,,,,
3,03/07/2013,6.85,,,,,,,,,
4,05/10/2013,2.75,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...
57,27/12/2021,521.00,07/06/2030,,05/04/2030,,,,16/02/1974,,
58,24/01/2022,329.33,,,,,,,,,
59,24/02/2022,344.25,,,,,,,,,
60,29/03/2022,481.92,,,,,,,,,
61,18/06/2022,176.00,15/12/2030,20/01/2029,04/10/2030,24/11/2030,20/02/2028,05/10/2006,26/10/1977,17/04/1938,

In [46]:
# PA_10

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa10 = output.copy()
pa10.Price = pa10.Price / 10 # <- change here

# Add price to all planets

for i in pa10.columns[2:]:
    pa10[i] = pa10[i] + pa10.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa10.columns[2:]:
    for num, j in enumerate(pa10[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa10[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa10.columns[2:]:
    for num, i in enumerate(pa10[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa10[planets].iloc[num] = Date_ok
        else:
            pa10[planets].iloc[num] = " "

pa10

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Price,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,31/10/2008,0.0,01/11/2030,28/12/2030,24/12/2030,10/07/2029,18/09/2020,02/11/2008,14/01/2009,20/02/2009,05/01/2009
1,03/01/2009,0.0,03/01/2029,26/11/2024,04/12/2029,12/09/2029,16/11/2020,27/01/2009,14/01/2009,20/02/2009,05/01/2009
2,10/04/2013,29.0,10/05/2030,18/11/2030,07/12/2029,04/05/2030,01/02/2026,14/11/2015,30/08/2020,26/09/2026,06/06/2029
3,03/07/2013,68.5,,,,,,,,,
4,05/10/2013,27.5,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...
57,27/12/2021,5210.0,,,,,,,,,
58,24/01/2022,3293.3,,,,,,,,,
59,24/02/2022,3442.5,,,,,,,,,
60,29/03/2022,4819.2,,,,,,,,,
61,18/06/2022,1760.0,,,,,,,,,

In [47]:
# PA_1

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa1 = output.copy()
pa1.Price = pa1.Price / 1 # <- change here

# Add price to all planets

for i in pa1.columns[2:]:
    pa1[i] = pa1[i] + pa1.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa1.columns[2:]:
    for num, j in enumerate(pa1[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa1[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa1.columns[2:]:
    for num, i in enumerate(pa1[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa1[planets].iloc[num] = Date_ok
        else:
            pa1[planets].iloc[num] = " "

pa1

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Price,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,31/10/2008,0.0,01/11/2030,28/12/2030,24/12/2030,10/07/2029,18/09/2020,02/11/2008,14/01/2009,20/02/2009,05/01/2009
1,03/01/2009,0.0,03/01/2029,26/11/2024,04/12/2029,12/09/2029,16/11/2020,27/01/2009,14/01/2009,20/02/2009,05/01/2009
2,10/04/2013,290.0,30/01/2030,28/06/2025,29/12/2030,23/11/2029,05/01/2023,07/08/2007,05/09/1995,09/09/1981,06/01/1984
3,03/07/2013,685.0,,,,,,,14/09/2004,,
4,05/10/2013,275.0,09/07/2030,26/08/2027,03/11/2030,28/03/2030,05/01/2023,29/11/2006,05/07/1992,22/03/1975,13/07/1978
...,...,...,...,...,...,...,...,...,...,...,...
57,27/12/2021,52100.0,,,,,,,,,
58,24/01/2022,32933.0,,,,,,,,,
59,24/02/2022,34425.0,,,,,,,,,
60,29/03/2022,48192.0,,,,,,,,,
61,18/06/2022,17600.0,,,,,,,,,

In [48]:
# PA_24:

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa24 = output.copy()
pa24.Price = pa24.Price / 24 # <- change here

# Add price to all planets

for i in pa24.columns[2:]:
    pa24[i] = pa24[i] + pa24.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa24.columns[2:]:
    for num, j in enumerate(pa24[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa24[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa24.columns[2:]:
    for num, i in enumerate(pa24[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa24[planets].iloc[num] = Date_ok
        else:
            pa24[planets].iloc[num] = " "

pa24

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Price,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,31/10/2008,0.000000,01/11/2030,28/12/2030,24/12/2030,10/07/2029,18/09/2020,02/11/2008,14/01/2009,20/02/2009,05/01/2009
1,03/01/2009,0.000000,03/01/2029,26/11/2024,04/12/2029,12/09/2029,16/11/2020,27/01/2009,14/01/2009,20/02/2009,05/01/2009
2,10/04/2013,12.083333,,,,,,,,,
3,03/07/2013,28.541667,,,,,,,,,
4,05/10/2013,11.458333,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...
57,27/12/2021,2170.833333,,,,,,,,,
58,24/01/2022,1372.208333,,,,,,,,,
59,24/02/2022,1434.375000,,,,,,,,,
60,29/03/2022,2008.000000,,,,,,,,,
61,18/06/2022,733.333333,,,,,,,,,

In [49]:
# PA_263:

# Copy price + Initialization of divisions
# (1000,100,10,1,24,etc...)

pa263 = output.copy()
pa263.Price = pa263.Price / 263 # <- change here

# Add price to all planets

for i in pa263.columns[2:]:
    pa263[i] = pa263[i] + pa263.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa263.columns[2:]:
    for num, j in enumerate(pa263[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa263[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa263.columns[2:]:
    for num, i in enumerate(pa263[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa263[planets].iloc[num] = Date_ok
        else:
            pa263[planets].iloc[num] = " "

pa263

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Price,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,31/10/2008,0.000000,01/11/2030,28/12/2030,24/12/2030,10/07/2029,18/09/2020,02/11/2008,14/01/2009,20/02/2009,05/01/2009
1,03/01/2009,0.000000,03/01/2029,26/11/2024,04/12/2029,12/09/2029,16/11/2020,27/01/2009,14/01/2009,20/02/2009,05/01/2009
2,10/04/2013,1.102662,,,,,,,,,
3,03/07/2013,2.604563,,,,,,,,,
4,05/10/2013,1.045627,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...
57,27/12/2021,198.098859,,,,,,,,,
58,24/01/2022,125.220532,,,,,,,,,
59,24/02/2022,130.893536,,,,,,,,,
60,29/03/2022,183.239544,,,,,,,,,
61,18/06/2022,66.920152,,,,,,,,,

In [50]:
# PA_1440:

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

pa1440 = output.copy()
pa1440.Price = pa1440.Price / 1440 # <- change here

# Add price to all planets

for i in pa1440.columns[2:]:
    pa1440[i] = pa1440[i] + pa1440.Price

# if > 360 then -360 so it can stay within the circle 

for i in pa1440.columns[2:]:
    for num, j in enumerate(pa1440[i]):
        j = float(j)
        if j > 360:
            x = j - 360
            pa1440[i].iloc[num] = x

# for loop to catch which degrees is situated at which date in the future/past

for planets in pa1440.columns[2:]:
    for num, i in enumerate(pa1440[planets]):
        df_copy = helio.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            pa1440[planets].iloc[num] = Date_ok
        else:
            pa1440[planets].iloc[num] = " "

pa1440

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Price,Earth,Mer,Ven,Mar,Jup,Sat,Ura,Nep,Plu
0,31/10/2008,0.000000,01/11/2030,28/12/2030,24/12/2030,10/07/2029,18/09/2020,02/11/2008,14/01/2009,20/02/2009,05/01/2009
1,03/01/2009,0.000000,03/01/2029,26/11/2024,04/12/2029,12/09/2029,16/11/2020,27/01/2009,14/01/2009,20/02/2009,05/01/2009
2,10/04/2013,0.201389,,,,,,,,,
3,03/07/2013,0.475694,,,,,,,,,
4,05/10/2013,0.190972,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...
57,27/12/2021,36.180556,,,,,,,,,
58,24/01/2022,22.870139,,,,,,,,,
59,24/02/2022,23.906250,,,,,,,,,
60,29/03/2022,33.466667,,,,,,,,,
61,18/06/2022,12.222222,,,,,,,,,

#### **HIT addP**

In [51]:
total_p = pd.concat([pa1k, pa100, pa10, pa1, pa24, pa263, pa1440])

adpod = total_p.copy()
adpod = adpod.drop(['Price'], axis=1)

good = adpod[1:].unstack().value_counts(ascending=True)

good = pd.DataFrame(good, columns=['Hit'])

good = good.reset_index()
good = good.rename_axis('E', axis=1)
good.columns = good.columns.str.replace('index', 'Date')
good = good.rename_axis(None, axis=1)

start_date = "10/08/2022"
end_date = "31/12/2025"

mask = (good['Date'] > start_date) & (good['Date'] <= end_date)
good = good.loc[mask]

# addp_hits.head(50)

good = good.sort_values(by=['Date'], ascending=True)

good['Date'] = good['Date'].apply(pd.to_datetime)

start_date = "10/08/2022"
end_date = "31/12/2025"

mask = (good['Date'] > start_date) & (good['Date'] <= end_date)
good = good.loc[mask]

# addp_hits.head(50)

good = good.sort_values(by=['Date'], ascending=True)
good.style.background_gradient(cmap='Blues')

In [52]:
dz_ADDP = good.head(30)
dz_ADDP.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','addPrice.csv'), index= False)
dz_ADDP

          Date  Hit
83  2022-11-29    1
103 2022-12-22    1
98  2023-02-24    1
24  2023-06-30    1
108 2023-07-31    1
3   2023-11-12    1
236 2024-11-26    7
155 2025-02-24    1
80  2025-05-22    1
168 2025-06-28    1
15  2025-11-21    1

## 2. Result

In [53]:
fig = px.bar(good, x='Date', y='Hit')
fig.show()

# **VII. TrNa.py**

## 1. Code

In [54]:
x = points_na.copy()

x.fillna(0, inplace=True)

x_h = x[x["Type"] == "Helio"]
x_g = x[x["Type"] == "Geo"]

x_h = x_h.drop(['Type'], axis = 1)
x_h = x_h.drop(['Angle'], axis = 1)
x_h = x_h.drop(['Pair'], axis = 1)

x_g = x_g.drop(['Type'], axis = 1)
x_g = x_g.drop(['Angle'], axis = 1)
x_g = x_g.drop(['Pair'], axis = 1)

x_con = pd.concat([x_h, x_g])

x_con['Date'] = pd.to_datetime(x_con['Date'])  
start_date = t  - timedelta(days = 2)
end_date = t + timedelta(days = 90)

mask = (x_con['Date'] > start_date) & (x_con['Date'] <= end_date)

x_hits = x_con.loc[mask]
x_hits = x_hits.sort_values(by=['Date'], ascending = True)
x_hi = x_con.loc[mask]
x_hi = x_hi.sort_values(by=['Date'], ascending = True)
x_hi.rename(columns = {'Points':'Hit'}, inplace = True)

x_hi.head(5).style.background_gradient(cmap='Blues')

In [55]:
bbbb = x_hi.groupby(x_hi['Date'].dt.date).sum()
bbbb

            Hit
Date
2023-01-28   15
2023-02-06   30
2023-02-14   10
2023-02-17   25
2023-02-18   15
2023-02-27   20
2023-03-02   15
2023-03-05   10
2023-03-06   25
2023-03-10   15
2023-03-18   30
2023-03-19   25
2023-03-22   30
2023-03-23   45
2023-03-30   15
2023-03-31   25
2023-04-05   25
2023-04-06   15
2023-04-07   25
2023-04-11   40
2023-04-14   10
2023-04-20   35
2023-04-24   50
2023-04-25   40
2023-04-26   20

In [56]:
dz_trna = x_hi.head(30)
dz_trna.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','TrNa.csv'), index= False)

## 2. Result

In [57]:
fig = px.bar(x_hi, x='Date', y='Hit')
fig.show()

# **VIII. TrTr.py**

## 1. Code

In [58]:
b = points_tr.copy()

b.fillna(0, inplace=True)

b_h = b[b["Type"] == "Helio"]
b_g = b[b["Type"] == "Geo"]

b_h = b_h.drop(['Type'], axis = 1)
b_g = b_g.drop(['Type'], axis = 1)
b_con = pd.concat([b_h, b_g])

b_con['Date'] = pd.to_datetime(b_con['Date'])  

start_date = t  - timedelta(days = 2)
end_date = t + timedelta(days = 90)

mask = (b_con['Date'] > start_date) & (b_con['Date'] <= end_date)
b_hits = b_con.loc[mask]
b_hits = b_hits.sort_values(by=['Date'], ascending = True)
b_trtr = b_hits
b_trtr.rename(columns = {'Points':'Hit'}, inplace = True)

In [59]:
dz_TRTR = b_trtr.head(30)
dz_TRTR.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','TrTr.csv'), index= False)

In [60]:
xxxx = b_trtr.groupby(b_trtr['Date'].dt.date).sum()
xxxx

            Hit
Date
2023-01-27   30
2023-01-28   25
2023-01-29    5
2023-01-30   25
2023-01-31   30
...         ...
2023-04-24   35
2023-04-25   65
2023-04-26   40
2023-04-27   15
2023-04-28   15

[91 rows x 1 columns]

## 1. Result

In [61]:
fig = px.bar(b_trtr, x='Date', y='Hit')
fig.show()

# **IX. MULT.py**

## 1. Code

In [62]:
m = mult.copy()
m.head(5)

m['Date1'] = d1 = pd.to_datetime(m['Date1'])
m['Date2'] = d2 = pd.to_datetime(m['Date2'])
m['Date1'] = m['Date1'].dt.strftime('%Y/%m/%d')
m['Date2'] = m['Date2'].dt.strftime('%Y/%m/%d')

In [63]:
# PANDA VERSION

#from datetime import datetime 

#m618 = m.copy()

#for i, col in enumerate(m618.columns[2:]):
    #df1 = pd.to_datetime(m618['Date1'])
    #df2 = pd.to_datetime(m618['Date2'])
    #m618[col] =  df2 + ((df2 - df1) * (1.618 ** i))

#m618['Date1'] = pd.to_datetime(m618['Date1'])
#m618['Date2'] = pd.to_datetime(m618['Date2'])

#m618['Date1'] = m618['Date1'].dt.strftime('%Y/%m/%d')
#m618['Date2'] = m618['Date2'].dt.strftime('%Y/%m/%d')
#m618['1'] = m618['1'].dt.strftime('%Y/%m/%d')
#m618['2'] = m618['2'].dt.strftime('%Y/%m/%d')
#m618['3'] = m618['3'].dt.strftime('%Y/%m/%d')
#m618['4'] = m618['4'].dt.strftime('%Y/%m/%d')
#m618['5'] = m618['5'].dt.strftime('%Y/%m/%d')
#m618['6'] = m618['6'].dt.strftime('%Y/%m/%d')
#m618['7'] = m618['7'].dt.strftime('%Y/%m/%d')
#m618['8'] = m618['8'].dt.strftime('%Y/%m/%d')
#m618['9'] = m618['9'].dt.strftime('%Y/%m/%d')
#m618['10'] = m618['10'].dt.strftime('%Y/%m/%d')

#m618

In [64]:
# Vectorization Full 618

op618 = (d2 - d1).dt.days.to_numpy().reshape(-1, 1) * (1.618 ** np.arange(1, 11)).reshape(1, -1)
m618 = op618.astype('timedelta64[D]') + d2.to_numpy().reshape(-1, 1) 

m618 = pd.DataFrame(m618, columns=['1', '2', '3', '4', '5','6','7','8','9', '10'])

m618['1'] = m618['1'].dt.strftime('%Y/%m/%d')
m618['2'] = m618['2'].dt.strftime('%Y/%m/%d')
m618['3'] = m618['3'].dt.strftime('%Y/%m/%d')
m618['4'] = m618['4'].dt.strftime('%Y/%m/%d')
m618['5'] = m618['5'].dt.strftime('%Y/%m/%d')
m618['6'] = m618['6'].dt.strftime('%Y/%m/%d')
m618['7'] = m618['7'].dt.strftime('%Y/%m/%d')
m618['8'] = m618['8'].dt.strftime('%Y/%m/%d')
m618['9'] = m618['9'].dt.strftime('%Y/%m/%d')
m618['10'] = m618['10'].dt.strftime('%Y/%m/%d')

m618

,1,2,3,4,5,6,7,8,9,10
0,2009/04/16,2009/06/19,2009/10/01,2010/03/17,2010/12/13,2012/02/25,2014/02/03,2017/03/28,2022/04/28,2030/07/21
1,2020/03/04,2024/06/09,2031/05/05,2042/07/04,2060/07/28,2089/10/21,2137/02/08,2213/08/20,1752/11/26,1953/04/02
2,2013/11/15,2014/02/07,2014/06/23,2015/01/29,2016/01/20,2017/08/18,2020/03/06,2024/04/21,2030/12/24,2041/10/13
3,2014/03/06,2014/06/08,2014/11/07,2015/07/11,2016/08/12,2018/05/18,2021/03/25,2025/11/06,2033/04/26,2045/05/28
4,2014/01/15,2014/02/23,2014/04/27,2014/08/07,2015/01/19,2015/10/13,2016/12/19,2018/11/18,2021/12/24,2026/12/30
...,...,...,...,...,...,...,...,...,...,...
173,2022/02/22,2022/05/16,2022/09/27,2023/05/02,2024/04/18,2025/11/08,2028/05/16,2032/06/13,2039/01/17,2049/09/20
174,2022/09/29,2023/03/19,2023/12/21,2025/03/12,2027/03/07,2030/05/22,2035/07/31,2043/12/24,2057/07/26,2079/07/23
175,2022/08/14,2022/12/17,2023/07/07,2024/05/29,2025/11/10,2028/03/15,2031/12/31,2038/02/20,2048/01/27,2064/02/23
176,2022/10/02,2023/02/15,2023/09/23,2024/09/13,2026/04/12,2028/10/30,2032/12/16,2039/08/22,2050/06/12,2067/12/08
177,2022/08/24,2022/11/24,2023/04/22,2023/12/19,2025/01/12,2026/10/04,2029/07/20,2034/01/26,2041/05/19,2053/03/18

In [65]:
# Vectorization Full 414

op414 = (d2 - d1).dt.days.to_numpy().reshape(-1, 1) * (1.414 ** np.arange(1, 11)).reshape(1, -1)
m414 = op414.astype('timedelta64[D]') + d2.to_numpy().reshape(-1, 1) 

m414 = pd.DataFrame(m414, columns=['1', '2', '3', '4', '5','6','7','8','9', '10'])

m414['1'] = m414['1'].dt.strftime('%Y/%m/%d')
m414['2'] = m414['2'].dt.strftime('%Y/%m/%d')
m414['3'] = m414['3'].dt.strftime('%Y/%m/%d')
m414['4'] = m414['4'].dt.strftime('%Y/%m/%d')
m414['5'] = m414['5'].dt.strftime('%Y/%m/%d')
m414['6'] = m414['6'].dt.strftime('%Y/%m/%d')
m414['7'] = m414['7'].dt.strftime('%Y/%m/%d')
m414['8'] = m414['8'].dt.strftime('%Y/%m/%d')
m414['9'] = m414['9'].dt.strftime('%Y/%m/%d')
m414['10'] = m414['10'].dt.strftime('%Y/%m/%d')

In [66]:
# Vectorization Full 732

op732 = (d2 - d1).dt.days.to_numpy().reshape(-1, 1) * (1.732 ** np.arange(1, 11)).reshape(1, -1)
m732 = op732.astype('timedelta64[D]') + d2.to_numpy().reshape(-1, 1) 

m732 = pd.DataFrame(m732, columns=['1', '2', '3', '4', '5','6','7','8','9', '10'])

m732['1'] = m732['1'].dt.strftime('%Y/%m/%d')
m732['2'] = m732['2'].dt.strftime('%Y/%m/%d')
m732['3'] = m732['3'].dt.strftime('%Y/%m/%d')
m732['4'] = m732['4'].dt.strftime('%Y/%m/%d')
m732['5'] = m732['5'].dt.strftime('%Y/%m/%d')
m732['6'] = m732['6'].dt.strftime('%Y/%m/%d')
m732['7'] = m732['7'].dt.strftime('%Y/%m/%d')
m732['8'] = m732['8'].dt.strftime('%Y/%m/%d')
m732['9'] = m732['9'].dt.strftime('%Y/%m/%d')
m732['10'] = m732['10'].dt.strftime('%Y/%m/%d')

In [67]:
from datetime import datetime

multi = pd.concat([m618, m414, m732])

tae = datetime.strftime(datetime.now(), "%d/%m/%Y")
tx = pd.to_datetime(tae)
tx = pd.to_datetime(tx)

adpod = multi.copy()

good = adpod[1:].unstack().value_counts(ascending=True)

good = pd.DataFrame(good, columns=['Hit'])

good = good.reset_index()
good = good.rename_axis('E', axis=1)
good.columns = good.columns.str.replace('index', 'Date')
good = good.rename_axis(None, axis=1)

start_date = t  - timedelta(days = 2)
end_date = t + timedelta(days = 90)

good['Date'] = pd.to_datetime(good['Date'])

mask = (good['Date'] > start_date) & (good['Date'] <= end_date)
good = good.loc[mask]

# addp_hits.head(50)

mult_hits = good.sort_values(by=['Date'], ascending=True)
mult_hits.head(10).style.background_gradient(cmap='Blues')

In [68]:
dz_MULT = mult_hits.head(30)
dz_MULT.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','Mult.csv'), index= False)
dz_MULT

           Date  Hit
3315 2023-01-28    1
3549 2023-01-29    2
2118 2023-01-31    1
2172 2023-02-01    1
4060 2023-02-02    3
4022 2023-02-05    3
519  2023-02-06    1
2297 2023-02-07    1
2207 2023-02-08    1
843  2023-02-09    1
4057 2023-02-10    3
2327 2023-02-11    1
3841 2023-02-12    2
3382 2023-02-15    2
3018 2023-02-17    1
2410 2023-02-18    1
528  2023-02-19    1
642  2023-02-21    1
3731 2023-02-22    2
2329 2023-02-24    1
945  2023-02-25    1
2295 2023-02-27    1
2416 2023-02-28    1
2988 2023-03-01    1
3890 2023-03-02    2
3726 2023-03-07    2
3121 2023-03-08    1
2447 2023-03-10    1
3259 2023-03-12    1
353  2023-03-13    1

## 2. Result

In [69]:
fig = px.bar(mult_hits, x='Date', y='Hit')
fig.show()

# **X. FutureDates.py**

## 1. Code

In [70]:
futdat = FutureDate.copy()
helio_cum = helio_cum.copy()

fdd = pd.DataFrame()

for col in futdat.columns:
    fdd[col] = futdat[col]

    if col not in ("Date", "Price"):
        
        for row, _ in helio_cum.iterrows():
            date = helio_cum["Date"][row]
            dates_list = futdat["Date"].to_list()

            if date in dates_list:
                row_index = dates_list.index(date)
                fdd[col][row_index] = helio_cum[col][row]

fdd

C:\Users\ASUS\AppData\Local\Temp\ipykernel_15596\3124695810.py:17: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          Date    Earth       Mer      Ven      Mar     Jup     Sat    Ura
0   31/10/2008  25948.0  107774.0  42177.0  13781.0  2188.0   894.0  313.0
1   03/01/2009  26012.0  107995.0  42279.0  13816.0  2193.0   896.0  314.0
2   10/04/2013  27550.0  114378.0  44775.0  14649.0  2333.0   947.0  331.0
3   03/07/2013  27631.0  114727.0  44911.0  14697.0  2340.0   950.0  332.0
4   05/10/2013  27722.0  115104.0  45061.0  14742.0  2348.0   953.0  333.0
..         ...      ...       ...      ...      ...     ...     ...    ...
57  27/12/2021  30685.0  127392.0  49875.0  16299.0  2589.0  1044.0  366.0
58  24/01/2022  30714.0  127546.0  49920.0  16314.0  2592.0  1045.0  366.0
59  24/02/2022  30745.0  127663.0  49971.0  16331.0  2595.0  1046.0  366.0
60  29/03/2022  30778.0  127769.0  50024.0  16350.0  2598.0  1047.0  367.0
61  18/06/2022  30856.0  128101.0  50152.0  16400.0  2605.0  1050.0  368.0

[62 rows x 8 columns]

In [71]:
# FD15

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 15

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd15 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd15.columns[1:]:
    for num, i in enumerate(fd15[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd15[planets].iloc[num] = Date_ok
        else:
            fd15[planets].iloc[num] = " "

fd15

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura
0,31/10/2008,15/11/2008,,,29/11/2008,01/05/2009,06/02/2010,02/09/2012
1,03/01/2009,17/01/2009,,,29/01/2009,27/06/2009,06/04/2010,04/12/2012
2,10/04/2013,25/04/2013,15/04/2013,,05/05/2013,06/10/2013,09/08/2014,26/03/2017
3,03/07/2013,19/07/2013,,,03/08/2013,29/12/2013,14/11/2014,26/06/2017
4,05/10/2013,21/10/2013,,,07/11/2013,04/04/2014,20/02/2015,26/09/2017
...,...,...,...,...,...,...,...,...
57,27/12/2021,11/01/2022,,,24/01/2022,10/06/2022,23/04/2023,05/11/2025
58,24/01/2022,08/02/2022,,02/02/2022,21/02/2022,13/07/2022,24/05/2023,05/11/2025
59,24/02/2022,11/03/2022,,,22/03/2022,15/08/2022,25/06/2023,05/11/2025
60,29/03/2022,13/04/2022,,,23/04/2022,17/09/2022,26/07/2023,01/02/2026
61,18/06/2022,03/07/2022,22/06/2022,,11/07/2022,02/12/2022,28/10/2023,29/04/2026

In [72]:
# FD30

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 30

fd30 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd30.columns[1:]:
    for num, i in enumerate(fd30[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd30[planets].iloc[num] = Date_ok
        else:
            fd30[planets].iloc[num] = " "

fd30

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura
0,31/10/2008,30/11/2008,07/11/2008,19/11/2008,26/12/2008,18/10/2009,02/05/2011,23/06/2016
1,03/01/2009,01/02/2009,,22/01/2009,23/02/2009,13/12/2009,02/07/2011,23/09/2016
2,10/04/2013,11/05/2013,,29/04/2013,01/06/2013,04/04/2014,11/12/2015,23/12/2020
3,03/07/2013,04/08/2013,13/07/2013,22/07/2013,02/09/2013,29/06/2014,19/03/2016,23/03/2021
4,05/10/2013,05/11/2013,,24/10/2013,11/12/2013,06/10/2014,26/06/2016,21/06/2021
...,...,...,...,...,...,...,...,...
57,27/12/2021,25/01/2022,,,21/02/2022,21/11/2022,02/08/2024,29/05/2029
58,24/01/2022,23/02/2022,,11/02/2022,19/03/2022,24/12/2022,01/09/2024,29/05/2029
59,24/02/2022,26/03/2022,07/03/2022,15/03/2022,16/04/2022,25/01/2023,02/10/2024,29/05/2029
60,29/03/2022,29/04/2022,,17/04/2022,17/05/2022,27/02/2023,02/11/2024,22/08/2029
61,18/06/2022,19/07/2022,,07/07/2022,04/08/2022,15/05/2023,01/02/2025,16/11/2029

In [73]:
# FD45

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 45

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd45 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd45.columns[1:]:
    for num, i in enumerate(fd45[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd45[planets].iloc[num] = Date_ok
        else:
            fd45[planets].iloc[num] = " "

fd45

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura
0,31/10/2008,15/12/2008,,,21/01/2009,03/04/2010,07/08/2012,26/03/2020
1,03/01/2009,16/02/2009,,31/01/2009,19/03/2009,28/05/2010,08/10/2012,25/06/2020
2,10/04/2013,27/05/2013,,08/05/2013,28/06/2013,06/10/2014,20/04/2017,23/08/2024
3,03/07/2013,19/08/2013,,31/07/2013,05/10/2013,02/01/2015,29/07/2017,19/11/2024
4,05/10/2013,20/11/2013,,,14/01/2014,13/04/2015,05/11/2017,15/02/2025
...,...,...,...,...,...,...,...,...
57,27/12/2021,09/02/2022,,24/01/2022,19/03/2022,04/05/2023,30/10/2025,
58,24/01/2022,10/03/2022,02/02/2022,,13/04/2022,05/06/2023,29/11/2025,
59,24/02/2022,10/04/2022,12/03/2022,24/03/2022,11/05/2022,08/07/2023,28/12/2025,
60,29/03/2022,14/05/2022,,,10/06/2022,10/08/2023,27/01/2026,
61,18/06/2022,04/08/2022,,16/07/2022,29/08/2022,26/10/2023,26/04/2026,

In [74]:
# FD60

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 60

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd60 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd60.columns[1:]:
    for num, i in enumerate(fd60[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd60[planets].iloc[num] = Date_ok
        else:
            fd60[planets].iloc[num] = " "

fd60

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura
0,31/10/2008,30/12/2008,,08/12/2008,15/02/2009,15/09/2010,24/11/2013,01/12/2023
1,03/01/2009,03/03/2009,,09/02/2009,12/04/2009,08/11/2010,27/01/2014,28/02/2024
2,10/04/2013,11/06/2013,,,28/07/2013,13/04/2015,31/08/2018,24/03/2028
3,03/07/2013,04/09/2013,,,07/11/2013,12/07/2015,09/12/2018,19/06/2028
4,05/10/2013,04/12/2013,22/10/2013,12/11/2013,17/02/2014,23/10/2015,19/03/2019,13/09/2028
...,...,...,...,...,...,...,...,...
57,27/12/2021,24/02/2022,,02/02/2022,13/04/2022,15/10/2023,14/01/2027,
58,24/01/2022,25/03/2022,,02/03/2022,08/05/2022,17/11/2023,12/02/2027,
59,24/02/2022,26/04/2022,17/03/2022,,04/06/2022,20/12/2023,13/03/2027,
60,29/03/2022,30/05/2022,,06/05/2022,03/07/2022,22/01/2024,11/04/2027,
61,18/06/2022,19/08/2022,,,23/09/2022,09/04/2024,07/07/2027,

In [75]:
# FD72

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 72

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd72 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd72.columns[1:]:
    for num, i in enumerate(fd72[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd72[planets].iloc[num] = Date_ok
        else:
            fd72[planets].iloc[num] = " "

fd72

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura
0,31/10/2008,11/01/2009,,,06/03/2009,23/01/2011,16/12/2014,21/10/2026
1,03/01/2009,15/03/2009,,17/02/2009,01/05/2009,19/03/2011,20/02/2015,16/01/2027
2,10/04/2013,24/06/2013,,25/05/2013,21/08/2013,14/09/2015,03/10/2019,30/12/2030
3,03/07/2013,16/09/2013,,17/08/2013,04/12/2013,14/12/2015,11/01/2020,
4,05/10/2013,16/12/2013,,,16/03/2014,28/03/2016,19/04/2020,
...,...,...,...,...,...,...,...,...
57,27/12/2021,08/03/2022,,,03/05/2022,24/02/2024,25/12/2027,
58,24/01/2022,06/04/2022,,09/03/2022,27/05/2022,29/03/2024,22/01/2028,
59,24/02/2022,08/05/2022,,10/04/2022,22/06/2022,01/05/2024,20/02/2028,
60,29/03/2022,11/06/2022,,14/05/2022,22/07/2022,04/06/2024,19/03/2028,
61,18/06/2022,01/09/2022,,02/08/2022,14/10/2022,22/08/2024,12/06/2028,

In [76]:
# FD90

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 90

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd90 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd90.columns[1:]:
    for num, i in enumerate(fd90[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd90[planets].iloc[num] = Date_ok
        else:
            fd90[planets].iloc[num] = " "

fd90

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura
0,31/10/2008,28/01/2009,26/11/2008,,04/04/2009,08/08/2011,29/07/2016,30/12/2030
1,03/01/2009,02/04/2009,18/01/2009,28/02/2009,29/05/2009,01/10/2011,03/10/2016,
2,10/04/2013,13/07/2013,,05/06/2013,28/09/2013,06/05/2016,17/05/2021,
3,03/07/2013,04/10/2013,,28/08/2013,14/01/2014,06/08/2016,22/08/2021,
4,05/10/2013,03/01/2014,,,25/04/2014,20/11/2016,28/11/2021,
...,...,...,...,...,...,...,...,...
57,27/12/2021,26/03/2022,,,31/05/2022,13/09/2024,12/05/2029,
58,24/01/2022,25/04/2022,,,24/06/2022,17/10/2024,09/06/2029,
59,24/02/2022,27/05/2022,,,21/07/2022,21/11/2024,07/07/2029,
60,29/03/2022,30/06/2022,,25/05/2022,20/08/2022,25/12/2024,03/08/2029,
61,18/06/2022,19/09/2022,,13/08/2022,16/11/2022,16/03/2025,25/10/2029,

In [77]:
# FD120

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 120

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd120 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd120.columns[1:]:
    for num, i in enumerate(fd120[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd120[planets].iloc[num] = Date_ok
        else:
            fd120[planets].iloc[num] = " "

fd120

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura
0,31/10/2008,27/02/2009,07/12/2008,,21/05/2009,03/07/2012,21/04/2019,
1,03/01/2009,03/05/2009,,18/03/2009,18/07/2009,28/08/2012,26/06/2019,
2,10/04/2013,13/08/2013,,,04/12/2013,07/06/2017,29/12/2023,
3,03/07/2013,04/11/2013,,16/09/2013,23/03/2014,07/09/2017,31/03/2024,
4,05/10/2013,01/02/2014,,,25/06/2014,21/12/2017,02/07/2024,
...,...,...,...,...,...,...,...,...
57,27/12/2021,26/04/2022,,11/03/2022,18/07/2022,27/08/2025,,
58,24/01/2022,26/05/2022,25/02/2022,08/04/2022,11/08/2022,02/10/2025,,
59,24/02/2022,27/06/2022,01/04/2022,,08/09/2022,07/11/2025,,
60,29/03/2022,01/08/2022,19/04/2022,13/06/2022,10/10/2022,13/12/2025,,
61,18/06/2022,20/10/2022,,,14/01/2023,08/03/2026,,

In [78]:
# FD144

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 144

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd144 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd144.columns[1:]:
    for num, i in enumerate(fd144[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd144[planets].iloc[num] = Date_ok
        else:
            fd144[planets].iloc[num] = " "

fd144

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura
0,31/10/2008,23/03/2009,15/12/2008,29/01/2009,29/06/2009,02/04/2013,18/06/2021,
1,03/01/2009,28/05/2009,28/01/2009,02/04/2009,29/08/2009,30/05/2013,22/08/2021,
2,10/04/2013,07/09/2013,,08/07/2013,28/01/2014,18/04/2018,28/12/2025,
3,03/07/2013,,,01/10/2013,14/05/2014,18/07/2018,27/03/2026,
4,05/10/2013,25/02/2014,,03/01/2014,09/08/2014,29/10/2018,24/06/2026,
...,...,...,...,...,...,...,...,...
57,27/12/2021,20/05/2022,,26/03/2022,25/08/2022,14/06/2026,,
58,24/01/2022,20/06/2022,06/03/2022,,19/09/2022,21/07/2026,,
59,24/02/2022,22/07/2022,,26/05/2022,19/10/2022,28/08/2026,,
60,29/03/2022,26/08/2022,,28/06/2022,23/11/2022,04/10/2026,,
61,18/06/2022,13/11/2022,,,06/03/2023,31/12/2026,,

In [79]:
# FD180

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 180

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd180 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd180.columns[1:]:
    for num, i in enumerate(fd180[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd180[planets].iloc[num] = Date_ok
        else:
            fd180[planets].iloc[num] = " "

fd180

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura
0,31/10/2008,29/04/2009,,,30/08/2009,04/06/2014,02/08/2024,
1,03/01/2009,04/07/2009,06/02/2009,,06/11/2009,05/08/2014,02/10/2024,
2,10/04/2013,14/10/2013,,,18/04/2014,22/07/2019,30/10/2028,
3,03/07/2013,02/01/2014,,24/10/2013,23/07/2014,16/10/2019,22/01/2029,
4,05/10/2013,02/04/2014,,,09/10/2014,22/01/2020,15/04/2029,
...,...,...,...,...,...,...,...,...
57,27/12/2021,27/06/2022,,18/04/2022,26/10/2022,14/09/2027,,
58,24/01/2022,27/07/2022,,16/05/2022,23/11/2022,23/10/2027,,
59,24/02/2022,29/08/2022,,,26/12/2022,01/12/2027,,
60,29/03/2022,02/10/2022,,,03/02/2023,09/01/2028,,
61,18/06/2022,18/12/2022,,,26/05/2023,10/04/2028,,

In [80]:
# FD360

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 360

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd360 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd360.columns[1:]:
    for num, i in enumerate(fd360[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd360[planets].iloc[num] = Date_ok
        else:
            fd360[planets].iloc[num] = " "

fd360

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,Earth,Mer,Ven,Mar,Jup,Sat,Ura
0,31/10/2008,01/11/2009,27/01/2009,13/06/2009,18/09/2010,16/09/2020,,
1,03/01/2009,03/01/2010,01/04/2009,16/08/2009,21/11/2010,14/11/2020,,
2,10/04/2013,10/04/2014,,,26/02/2015,21/02/2025,,
3,03/07/2013,03/07/2014,29/09/2013,13/02/2014,22/05/2015,13/05/2025,,
4,05/10/2013,06/10/2014,,18/05/2014,23/08/2015,15/08/2025,,
...,...,...,...,...,...,...,...,...
57,27/12/2021,27/12/2022,25/03/2022,09/08/2022,14/11/2023,,,
58,24/01/2022,25/01/2023,,,12/12/2023,,,
59,24/02/2022,24/02/2023,23/05/2022,07/10/2022,12/01/2024,,,
60,29/03/2022,29/03/2023,25/06/2022,09/11/2022,14/02/2024,,,
61,18/06/2022,18/06/2023,14/09/2022,29/01/2023,05/05/2024,,,

In [81]:
# FD720

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 720

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd720 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd720.columns[1:]:
    for num, i in enumerate(fd720[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd720[planets].iloc[num] = Date_ok
        else:
            fd720[planets].iloc[num] = " "

fd720

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          Date       Earth         Mer         Ven         Mar Jup Sat Ura
0   31/10/2008  01/11/2010  25/04/2009              05/08/2012
1   03/01/2009  03/01/2011  28/06/2009              08/10/2012
2   10/04/2013  11/04/2015                          13/01/2017
3   03/07/2013  04/07/2015  26/12/2013              08/04/2017
4   05/10/2013  06/10/2015                          10/07/2017
..         ...         ...         ...         ...         ...  ..  ..  ..
57  27/12/2021  27/12/2023  21/06/2022              30/09/2025
58  24/01/2022  25/01/2024              18/04/2023  29/10/2025
59  24/02/2022  25/02/2024  19/08/2022              29/11/2025
60  29/03/2022  29/03/2024  21/09/2022              01/01/2026
61  18/06/2022  17/06/2024  11/12/2022              23/03/2026

[62 rows x 8 columns]

In [82]:
# FD1080

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 1080

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd1080 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd1080.columns[1:]:
    for num, i in enumerate(fd1080[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd1080[planets].iloc[num] = Date_ok
        else:
            fd1080[planets].iloc[num] = " "

fd1080

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          Date       Earth         Mer         Ven         Mar Jup Sat Ura
0   31/10/2008  01/11/2011  22/07/2009  05/09/2010  23/06/2014
1   03/01/2009  03/01/2012  24/09/2009  08/11/2010  26/08/2014
2   10/04/2013  10/04/2016              13/02/2015  30/11/2018
3   03/07/2013  03/07/2016              08/05/2015  24/02/2019
4   05/10/2013  05/10/2016              10/08/2015  27/05/2019
..         ...         ...         ...         ...         ...  ..  ..  ..
57  27/12/2021  27/12/2024  17/09/2022  01/11/2023  18/08/2027
58  24/01/2022  24/01/2025              29/11/2023  16/09/2027
59  24/02/2022  24/02/2025  15/11/2022              17/10/2027
60  29/03/2022  29/03/2025  18/12/2022              19/11/2027
61  18/06/2022  17/06/2025  09/03/2023  22/04/2024  08/02/2028

[62 rows x 8 columns]

In [83]:
# FD1440

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 1440

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd1440 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd1440.columns[1:]:
    for num, i in enumerate(fd1440[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd1440[planets].iloc[num] = Date_ok
        else:
            fd1440[planets].iloc[num] = " "

fd1440

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          Date       Earth         Mer         Ven         Mar Jup Sat Ura
0   31/10/2008  31/10/2012  18/10/2009  18/04/2011  10/05/2016
1   03/01/2009  03/01/2013  21/12/2009  21/06/2011  13/07/2016
2   10/04/2013  10/04/2017              26/09/2015  17/10/2020
3   03/07/2013  03/07/2017              19/12/2015  11/01/2021
4   05/10/2013  05/10/2017              22/03/2016  13/04/2021
..         ...         ...         ...         ...         ...  ..  ..  ..
57  27/12/2021  27/12/2025  14/12/2022  13/06/2024  05/07/2029
58  24/01/2022  24/01/2026                          03/08/2029
59  24/02/2022  24/02/2026  11/02/2023  11/08/2024  03/09/2029
60  29/03/2022  29/03/2026  16/03/2023  13/09/2024  06/10/2029
61  18/06/2022  18/06/2026  05/06/2023  03/12/2024  25/12/2029

[62 rows x 8 columns]

In [84]:
# FD1800

output = pd.DataFrame()

output["Date"] = fdd["Date"]

for col in fdd.columns[1:]:
    output[col] = fdd[col].astype("float64") + 1800

# Copy price + Initialization of divides (1000,100,10,1,24,etc...)

fd1800 = output

# for loop to catch which degrees is situated at which date in the future/past

for planets in fd1800.columns[1:]:
    for num, i in enumerate(fd1800[planets]):
        df_copy = helio_cum.copy()
        target = df_copy[df_copy[planets] == float(i)]

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fd1800[planets].iloc[num] = Date_ok
        else:
            fd1800[planets].iloc[num] = " "

fd1800

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          Date       Earth         Mer         Ven         Mar Jup Sat Ura
0   31/10/2008  01/11/2013                          28/03/2018
1   03/01/2009  03/01/2014  19/03/2010              31/05/2018
2   10/04/2013  10/04/2018                          04/09/2022
3   03/07/2013  03/07/2018                          29/11/2022
4   05/10/2013  06/10/2018                          01/03/2023
..         ...         ...         ...         ...         ...  ..  ..  ..
57  27/12/2021  27/12/2026
58  24/01/2022  25/01/2027
59  24/02/2022  24/02/2027  10/05/2023  24/03/2025
60  29/03/2022  29/03/2027              26/04/2025
61  18/06/2022  18/06/2027  01/09/2023

[62 rows x 8 columns]

In [85]:
future_dates = pd.concat([fd15, fd30, fd45, fd60, fd72, fd90, fd120, fd144, fd180, fd360, fd720, fd1080, fd1440, fd1800])

adpod = future_dates.copy()

gfd = adpod[1:].unstack().value_counts(ascending=True)

gfd = pd.DataFrame(gfd, columns=['Hit'])

gfd = gfd.reset_index()
gfd = gfd.rename_axis('E', axis=1)
gfd.columns = gfd.columns.str.replace('index', 'Date')
gfd = gfd.rename_axis(None, axis=1)

gfd.drop(gfd.tail(1).index,inplace=True)


gfd['Date'] = pd.to_datetime(gfd['Date'])

start_date = t  - timedelta(days = 2)
end_date = t + timedelta(days = 90)

mask = (gfd['Date'] > start_date) & (gfd['Date'] <= end_date)
gfd = gfd.loc[mask]

gfd['Date'] = pd.to_datetime(gfd['Date'])

# addp_hits.head(50)

gfdE = gfd.sort_values(by=['Date'], ascending=True)
gfdE.style.background_gradient(cmap='Blues')

In [86]:
lathit = lathit.copy()

ex = pd.concat([gfdE, lathit])
ex

                     Date  Hit
704   2023-01-29 00:00:00    1
1783  2023-02-02 00:00:00    2
1206  2023-02-06 00:00:00    1
1203  2023-02-12 00:00:00    1
1906  2023-02-16 00:00:00    3
...                   ...  ...
131            26/12/2022    0
132            27/12/2022    0
133            28/12/2022    0
134            29/12/2022    0
135            30/12/2022    0

[168 rows x 2 columns]

In [87]:
dz_FD = ex.head(30)
dz_FD.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','FutureDate.csv'), index= False)
dz_FD

                     Date  Hit
704   2023-01-29 00:00:00    1
1783  2023-02-02 00:00:00    2
1206  2023-02-06 00:00:00    1
1203  2023-02-12 00:00:00    1
1906  2023-02-16 00:00:00    3
465   2023-02-17 00:00:00    1
2113  2023-02-18 00:00:00    4
389   2023-02-21 00:00:00    1
1106  2023-02-24 00:00:00    1
1272  2023-02-25 00:00:00    1
2131  2023-02-27 00:00:00    4
14    2023-03-02 00:00:00    1
322   2023-03-03 00:00:00    1
304   2023-03-14 00:00:00    1
464   2023-03-15 00:00:00    1
162   2023-03-16 00:00:00    1
1913  2023-03-21 00:00:00    3
944   2023-03-22 00:00:00    1
463   2023-03-24 00:00:00    1
254   2023-03-25 00:00:00    1
303   2023-03-28 00:00:00    1
1105  2023-03-29 00:00:00    1
1469  2023-04-01 00:00:00    2
1520  2023-04-05 00:00:00    2
1186  2023-04-06 00:00:00    1
1435  2023-04-09 00:00:00    2
1976  2023-04-10 00:00:00    3
1584  2023-04-15 00:00:00    2
565   2023-04-18 00:00:00    1
2214  2023-04-23 00:00:00    5

## 2. Result

In [88]:
fig = px.bar(ex, x='Date', y='Hit')

fig.show()

# **XI. Fibs.py**

## 1. Code

In [89]:
################################################### FIBONNACI METHOD ###################################################
########################################################################################################################

# Cette mthode  comme input un index de Date importante pivots (61 dates distinctes) du $BTC 
# les autres input en colonne sont l'ensemble des plantes du systme solaire et leur degrs cummulatif correspondant  la date en index...
# Par l'ensemble de ce code on cherche remplac les degrs cumulatif initiale de chaque plantes
#  l'aide d'une opration spcifique on transforme ces nouveau degrs cumulatif en date future majeur (on va chercher  savoir ces nouveau degr cumulatif se situent  qu'elle date dans le fichier csv helio_cum...)

fbb = pd.DataFrame()
helio_cum = helio_cum.copy()
fibs = fibs.copy()


for col in fibs.columns:
    fbb[col] = fibs[col]

    if col not in ("Date"):
        
        for row, _ in helio_cum.iterrows():
            date = helio_cum["Date"][row]
            dates_list = fibs["Date"].to_list()

            if date in dates_list:
                row_index = dates_list.index(date)
                fbb[col][row_index] = helio_cum[col][row]

########################################################################################################################

C:\Users\ASUS\AppData\Local\Temp\ipykernel_15596\2587883681.py:25: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [90]:
########################################################################################################################

dfs = []

for i in range(len(fbb["Date"]) - 1): # permet de dclin 1 row pour chacune des 61 liste de dates majeure - notre premire liste coontiendras 61 rows et notre dernire liste contiendras donc seulement 2 row de date future...
    new_df = fbb.copy()[i:]
    for k in new_df:
        if k == "Date":
            continue
        for j in range(i + 1, len(fbb[k])): # opration utilis pour convertir "=IF(C7=0;0;INT(INDEX(astroData!$A:$A;MATCH(INT(C$5+((C7-C$5)*1,618));astroData!M:M;1))))"
            new_df[k][j] = (float(new_df[k][i]) + ((float(new_df[k][j]) - float(new_df[k][i])) * 1.618)) 
        new_df[k][i] = 0
    dfs.append(new_df)

#for df in dfs:
#    print(df)

########################################################################################################################

C:\Users\ASUS\AppData\Local\Temp\ipykernel_15596\3819832262.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\ASUS\AppData\Local\Temp\ipykernel_15596\3819832262.py:12: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [91]:
########################################################################################################################

test = pd.concat(dfs)
test = test.round()
fbb1 = test.copy()

# for loop pour rcupr quels degrs sont situs  quelle date dans le futur/pass directement dans notre dataframe helio_cum (cumulatif)

for planets in fbb1.columns[1:]:
    for num, i in enumerate(fbb1[planets]):
        df_copy = helio_cum.round()
        target = df_copy[df_copy[planets] == float(i)]
        type(planets)
        type(df_copy)

        Date = []

        for date in target['Date']:
            Date.append(date)

        if len(Date) > 0:
            Date_ok = Date[-1]
            fbb1[planets].iloc[num] = Date_ok
        else:
            fbb1[planets].iloc[num] = " "

########################################################################################################################

c:\Users\ASUS\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [92]:
########################################################################################################################

# Code qui permet d'aggrger l'ensemble de nos rsultats en un seul et unique dataframe
# Transformation des rsultats en un dataframe contenant les dates en index et les hit reprsentant la somme du nombre de data similaire  la date index...

hitz = fbb1.copy()

hits = hitz[1:].unstack().value_counts(ascending=True)

hits = pd.DataFrame(hits, columns=['Hit'])

hits = hits.reset_index()
hits = hits.rename_axis('E', axis=1)
hits.columns = hits.columns.str.replace('index', 'Date')
hits = hits.rename_axis(None, axis=1)

hits = hits.sort_values(by=['Date'], ascending=True)
hits.drop(hits.head(1).index,inplace=True) # drop first n rows

# permet d'actualis notre dataframe de jours en jours - cette configuration donne les 30 prochaine dates/hit du mois...

hits['Date'] = hits['Date'].apply(pd.to_datetime)
start_date = t  - timedelta(days = 1)
end_date = t + timedelta(days = 90)

mask = (hits['Date'] > start_date) & (hits['Date'] <= end_date)
final = hits.loc[mask]

fib_hits = final.sort_values(by=['Date'], ascending=True)

# exporte en .csv ce fichier rsultat vers notre fichier data streamlit... 

csv_Fib = fib_hits.head(30)
csv_Fib.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','Fib.csv'), index= False)

fig = px.bar(fib_hits, x='Date', y='Hit')
fig.show()

print(fib_hits)

########################################################################################################################

           Date  Hit
2733 2023-01-28    6
2713 2023-01-30    6
2068 2023-01-31    3
168  2023-02-01    1
675  2023-02-02    1
...         ...  ...
1622 2023-04-24    2
1933 2023-04-25    2
1581 2023-04-26    2
1701 2023-04-27    2
2437 2023-04-28    4

[74 rows x 2 columns]

## 2. Result

In [93]:
fig = px.bar(fib_hits, x='Date', y='Hit')
fig.show()

# **XII. Retro.py**

## 1. Code

*0 = 0 || 1 = True || 2 = Return*

In [94]:
r_h = retrohits.copy()
r_h = r_h.fillna(0)

r_h['Date'] = pd.to_datetime(r_h['Date'])
r_h['Hit'] = r_h['Merc'] + r_h['Ven'] + r_h['Mar'] + r_h['Jup'] + r_h['Sat'] + r_h['Ura'] + r_h['Nep'] + r_h['Plu']
r_h = r_h.drop(['Merc', 'Ven', 'Mar', 'Jup', 'Sat', 'Ura', 'Nep', 'Plu'], axis=1)

r_h['Date'] = pd.to_datetime(r_h['Date'])  

start_date = t  - timedelta(days = 2)
end_date = t + timedelta(days = 90)

mask = (r_h['Date'] > start_date) & (r_h['Date'] <= end_date)

rh_hits = r_h.loc[mask]
rh_hits = rh_hits.sort_values(by=['Date'], ascending = True)

rh_hits.head(15).style.background_gradient(cmap='Blues')

In [95]:
dz_Retro = rh_hits.head(30)
dz_Retro.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','Retro.csv'), index= False)
dz_Retro

Empty DataFrame
Columns: [Date, Hit]
Index: []

## 2. Result

In [96]:
fig = px.bar(rh_hits, x='Date', y='Hit')
fig.show()

# **XIII. PriceTime.py**

## 1. Code

In [97]:
from datetime import datetime

p_t = nega.copy()

p_t['Date'] = d = pd.to_datetime(p_t['Date'])
p_t['Date'] = p_t['Date'].dt.strftime('%Y/%m/%d')

twoday = datetime.strftime(datetime.now(), "%Y/%m/%d")
t = pd.to_datetime(twoday)

p_t['Elapsed'] = t - d
p_t['Elapsed'] = p_t['Elapsed'].dt.days.to_numpy()

p_t['Sqrt'] = p_t['Elapsed'] ** (1/2)
p_t['Sqrt'] = p_t['Sqrt'].round(2)
sq = p_t['Sqrt']

In [98]:
op13 = (((sq / 13).to_numpy().reshape(-1, 1) + (np.arange(1, 22)).reshape(1, -1)) ** 2)
pt13 = op13.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)

pt13 = pd.DataFrame(pt13, columns=['1', '2', '3', '4', '5','6','7','8','9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'])

pt13['1'] = pt13['1'].dt.strftime('%Y/%m/%d')
pt13['2'] = pt13['2'].dt.strftime('%Y/%m/%d')
pt13['3'] = pt13['3'].dt.strftime('%Y/%m/%d')
pt13['4'] = pt13['4'].dt.strftime('%Y/%m/%d')
pt13['5'] = pt13['5'].dt.strftime('%Y/%m/%d')
pt13['6'] = pt13['6'].dt.strftime('%Y/%m/%d')
pt13['7'] = pt13['7'].dt.strftime('%Y/%m/%d')
pt13['8'] = pt13['8'].dt.strftime('%Y/%m/%d')
pt13['9'] = pt13['9'].dt.strftime('%Y/%m/%d')
pt13['10'] = pt13['10'].dt.strftime('%Y/%m/%d')
pt13['11'] = pt13['11'].dt.strftime('%Y/%m/%d')
pt13['12'] = pt13['12'].dt.strftime('%Y/%m/%d')
pt13['13'] = pt13['13'].dt.strftime('%Y/%m/%d')
pt13['14'] = pt13['14'].dt.strftime('%Y/%m/%d')
pt13['15'] = pt13['15'].dt.strftime('%Y/%m/%d')
pt13['16'] = pt13['16'].dt.strftime('%Y/%m/%d')
pt13['17'] = pt13['17'].dt.strftime('%Y/%m/%d')
pt13['18'] = pt13['18'].dt.strftime('%Y/%m/%d')
pt13['19'] = pt13['19'].dt.strftime('%Y/%m/%d')
pt13['20'] = pt13['20'].dt.strftime('%Y/%m/%d')
pt13['21'] = pt13['21'].dt.strftime('%Y/%m/%d')

pt13

,1,2,3,4,5,6,7,8,9,10,...,12,13,14,15,16,17,18,19,20,21
0,2008/12/12,2008/12/26,2009/01/12,2009/01/30,2009/02/19,2009/03/13,2009/04/06,2009/05/02,2009/05/30,2009/06/29,...,2009/09/03,2009/10/10,2009/11/17,2009/12/27,2010/02/07,2010/03/23,2010/05/08,2010/06/25,2010/08/14,2010/10/05
1,2009/02/14,2009/02/28,2009/03/16,2009/04/03,2009/04/23,2009/05/15,2009/06/08,2009/07/04,2009/08/01,2009/08/31,...,2009/11/05,2009/12/11,2010/01/18,2010/02/27,2010/04/10,2010/05/24,2010/07/09,2010/08/26,2010/10/15,2010/12/06
2,2013/05/11,2013/05/23,2013/06/06,2013/06/22,2013/07/11,2013/07/31,2013/08/22,2013/09/15,2013/10/12,2013/11/09,...,2014/01/10,2014/02/13,2014/03/22,2014/04/29,2014/06/08,2014/07/20,2014/09/02,2014/10/19,2014/12/06,2015/01/25
3,2013/08/02,2013/08/14,2013/08/28,2013/09/14,2013/10/02,2013/10/22,2013/11/13,2013/12/07,2014/01/02,2014/01/30,...,2014/04/02,2014/05/06,2014/06/12,2014/07/20,2014/08/29,2014/10/10,2014/11/23,2015/01/08,2015/02/25,2015/04/16
4,2013/11/04,2013/11/16,2013/11/30,2013/12/16,2014/01/03,2014/01/22,2014/02/13,2014/03/09,2014/04/04,2014/05/02,...,2014/07/03,2014/08/06,2014/09/11,2014/10/19,2014/11/28,2015/01/09,2015/02/22,2015/04/09,2015/05/27,2015/07/16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,2022/01/02,2022/01/08,2022/01/16,2022/01/26,2022/02/07,2022/02/21,2022/03/09,2022/03/27,2022/04/16,2022/05/08,...,2022/06/28,2022/07/26,2022/08/25,2022/09/26,2022/10/30,2022/12/05,2023/01/12,2023/02/21,2023/04/04,2023/05/18
58,2022/01/30,2022/02/05,2022/02/13,2022/02/23,2022/03/06,2022/03/20,2022/04/05,2022/04/23,2022/05/13,2022/06/04,...,2022/07/24,2022/08/21,2022/09/20,2022/10/22,2022/11/25,2022/12/31,2023/02/07,2023/03/19,2023/04/30,2023/06/13
59,2022/03/01,2022/03/07,2022/03/15,2022/03/25,2022/04/06,2022/04/19,2022/05/05,2022/05/23,2022/06/12,2022/07/04,...,2022/08/22,2022/09/19,2022/10/19,2022/11/20,2022/12/24,2023/01/29,2023/03/07,2023/04/16,2023/05/28,2023/07/11
60,2022/04/03,2022/04/09,2022/04/16,2022/04/26,2022/05/08,2022/05/21,2022/06/06,2022/06/24,2022/07/13,2022/08/04,...,2022/09/23,2022/10/20,2022/11/19,2022/12/21,2023/01/23,2023/02/28,2023/04/07,2023/05/16,2023/06/27,2023/08/10
61,2022/06/22,2022/06/27,2022/07/05,2022/07/14,2022/07/25,2022/08/08,2022/08/23,2022/09/09,2022/09/29,2022/10/20,...,2022/12/07,2023/01/04,2023/02/02,2023/03/05,2023/04/08,2023/05/13,2023/06/19,2023/07/29,2023/09/08,2023/10/21

In [99]:
op21 = (((sq / 21).to_numpy().reshape(-1, 1) + (np.arange(1, 22)).reshape(1, -1)) ** 2)
pt21 = op21.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)

pt21 = pd.DataFrame(pt21, columns=['1', '2', '3', '4', '5','6','7','8','9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'])
pt21['1'] = pt21['1'].dt.strftime('%Y/%m/%d')
pt21['2'] = pt21['2'].dt.strftime('%Y/%m/%d')
pt21['3'] = pt21['3'].dt.strftime('%Y/%m/%d')
pt21['4'] = pt21['4'].dt.strftime('%Y/%m/%d')
pt21['5'] = pt21['5'].dt.strftime('%Y/%m/%d')
pt21['6'] = pt21['6'].dt.strftime('%Y/%m/%d')
pt21['7'] = pt21['7'].dt.strftime('%Y/%m/%d')
pt21['8'] = pt21['8'].dt.strftime('%Y/%m/%d')
pt21['9'] = pt21['9'].dt.strftime('%Y/%m/%d')
pt21['10'] = pt21['10'].dt.strftime('%Y/%m/%d')
pt21['11'] = pt21['11'].dt.strftime('%Y/%m/%d')
pt21['12'] = pt21['12'].dt.strftime('%Y/%m/%d')
pt21['13'] = pt21['13'].dt.strftime('%Y/%m/%d')
pt21['14'] = pt21['14'].dt.strftime('%Y/%m/%d')
pt21['15'] = pt21['15'].dt.strftime('%Y/%m/%d')
pt21['16'] = pt21['16'].dt.strftime('%Y/%m/%d')
pt21['17'] = pt21['17'].dt.strftime('%Y/%m/%d')
pt21['18'] = pt21['18'].dt.strftime('%Y/%m/%d')
pt21['19'] = pt21['19'].dt.strftime('%Y/%m/%d')
pt21['20'] = pt21['20'].dt.strftime('%Y/%m/%d')
pt21['21'] = pt21['21'].dt.strftime('%Y/%m/%d')

In [100]:
op34 = (((sq / 34).to_numpy().reshape(-1, 1) + (np.arange(1, 22)).reshape(1, -1)) ** 2)
pt34 = op34.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)

pt34 = pd.DataFrame(pt34, columns=['1', '2', '3', '4', '5','6','7','8','9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'])
pt34['1'] = pt34['1'].dt.strftime('%Y/%m/%d')
pt34['2'] = pt34['2'].dt.strftime('%Y/%m/%d')
pt34['3'] = pt34['3'].dt.strftime('%Y/%m/%d')
pt34['4'] = pt34['4'].dt.strftime('%Y/%m/%d')
pt34['5'] = pt34['5'].dt.strftime('%Y/%m/%d')
pt34['6'] = pt34['6'].dt.strftime('%Y/%m/%d')
pt34['7'] = pt34['7'].dt.strftime('%Y/%m/%d')
pt34['8'] = pt34['8'].dt.strftime('%Y/%m/%d')
pt34['9'] = pt34['9'].dt.strftime('%Y/%m/%d')
pt34['10'] = pt34['10'].dt.strftime('%Y/%m/%d')
pt34['11'] = pt34['11'].dt.strftime('%Y/%m/%d')
pt34['12'] = pt34['12'].dt.strftime('%Y/%m/%d')
pt34['13'] = pt34['13'].dt.strftime('%Y/%m/%d')
pt34['14'] = pt34['14'].dt.strftime('%Y/%m/%d')
pt34['15'] = pt34['15'].dt.strftime('%Y/%m/%d')
pt34['16'] = pt34['16'].dt.strftime('%Y/%m/%d')
pt34['17'] = pt34['17'].dt.strftime('%Y/%m/%d')
pt34['18'] = pt34['18'].dt.strftime('%Y/%m/%d')
pt34['19'] = pt34['19'].dt.strftime('%Y/%m/%d')
pt34['20'] = pt34['20'].dt.strftime('%Y/%m/%d')
pt34['21'] = pt34['21'].dt.strftime('%Y/%m/%d')

In [101]:
op55 = (((sq / 55).to_numpy().reshape(-1, 1) + (np.arange(1, 22)).reshape(1, -1)) ** 2)
pt55 = op55.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)

pt55 = pd.DataFrame(pt55, columns=['1', '2', '3', '4', '5','6','7','8','9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'])
pt55['1'] = pt55['1'].dt.strftime('%Y/%m/%d')
pt55['2'] = pt55['2'].dt.strftime('%Y/%m/%d')
pt55['3'] = pt55['3'].dt.strftime('%Y/%m/%d')
pt55['4'] = pt55['4'].dt.strftime('%Y/%m/%d')
pt55['5'] = pt55['5'].dt.strftime('%Y/%m/%d')
pt55['6'] = pt55['6'].dt.strftime('%Y/%m/%d')
pt55['7'] = pt55['7'].dt.strftime('%Y/%m/%d')
pt55['8'] = pt55['8'].dt.strftime('%Y/%m/%d')
pt55['9'] = pt55['9'].dt.strftime('%Y/%m/%d')
pt55['10'] = pt55['10'].dt.strftime('%Y/%m/%d')
pt55['11'] = pt55['11'].dt.strftime('%Y/%m/%d')
pt55['12'] = pt55['12'].dt.strftime('%Y/%m/%d')
pt55['13'] = pt55['13'].dt.strftime('%Y/%m/%d')
pt55['14'] = pt55['14'].dt.strftime('%Y/%m/%d')
pt55['15'] = pt55['15'].dt.strftime('%Y/%m/%d')
pt55['16'] = pt55['16'].dt.strftime('%Y/%m/%d')
pt55['17'] = pt55['17'].dt.strftime('%Y/%m/%d')
pt55['18'] = pt55['18'].dt.strftime('%Y/%m/%d')
pt55['19'] = pt55['19'].dt.strftime('%Y/%m/%d')
pt55['20'] = pt55['20'].dt.strftime('%Y/%m/%d')
pt55['21'] = pt55['21'].dt.strftime('%Y/%m/%d')

In [102]:
op89 = (((sq / 89).to_numpy().reshape(-1, 1) + (np.arange(1, 22)).reshape(1, -1)) ** 2)
pt89 = op89.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)

pt89 = pd.DataFrame(pt89, columns=['1', '2', '3', '4', '5','6','7','8','9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21'])
pt89['1'] = pt89['1'].dt.strftime('%Y/%m/%d')
pt89['2'] = pt89['2'].dt.strftime('%Y/%m/%d')
pt89['3'] = pt89['3'].dt.strftime('%Y/%m/%d')
pt89['4'] = pt89['4'].dt.strftime('%Y/%m/%d')
pt89['5'] = pt89['5'].dt.strftime('%Y/%m/%d')
pt89['6'] = pt89['6'].dt.strftime('%Y/%m/%d')
pt89['7'] = pt89['7'].dt.strftime('%Y/%m/%d')
pt89['8'] = pt89['8'].dt.strftime('%Y/%m/%d')
pt89['9'] = pt89['9'].dt.strftime('%Y/%m/%d')
pt89['10'] = pt89['10'].dt.strftime('%Y/%m/%d')
pt89['11'] = pt89['11'].dt.strftime('%Y/%m/%d')
pt89['12'] = pt89['12'].dt.strftime('%Y/%m/%d')
pt89['13'] = pt89['13'].dt.strftime('%Y/%m/%d')
pt89['14'] = pt89['14'].dt.strftime('%Y/%m/%d')
pt89['15'] = pt89['15'].dt.strftime('%Y/%m/%d')
pt89['16'] = pt89['16'].dt.strftime('%Y/%m/%d')
pt89['17'] = pt89['17'].dt.strftime('%Y/%m/%d')
pt89['18'] = pt89['18'].dt.strftime('%Y/%m/%d')
pt89['19'] = pt89['19'].dt.strftime('%Y/%m/%d')
pt89['20'] = pt89['20'].dt.strftime('%Y/%m/%d')
pt89['21'] = pt89['21'].dt.strftime('%Y/%m/%d')

In [103]:
pt_hits = pd.concat([pt13, pt21, pt34, pt55, pt89])

adpod = pt_hits.copy()

dzea2 = adpod[1:].unstack().value_counts(ascending=True)

dzea2 = pd.DataFrame(dzea2, columns=['Hit'])

dzea2 = dzea2.reset_index()
dzea2 = dzea2.rename_axis('E', axis=1)
dzea2.columns = dzea2.columns.str.replace('index', 'Date')
dzea2 = dzea2.rename_axis(None, axis=1)

start_date = "10/08/2022"
end_date = "31/12/2022"

mask = (dzea2['Date'] > start_date) & (dzea2['Date'] <= end_date)
dzea2 = dzea2.loc[mask]

# addp_hits.head(50)

dzea2 = dzea2.sort_values(by=['Date'], ascending=True)

dzea2['Date'] = dzea2['Date'].apply(pd.to_datetime)

start_date = t  - timedelta(days = 2)
end_date = t + timedelta(days = 90)

mask = (dzea2['Date'] > start_date) & (dzea2['Date'] <= end_date)
dzea2 = dzea2.loc[mask]

# addp_hits.head(50)

pt_hit = dzea2.sort_values(by=['Date'], ascending=True)
pt_hit.head(15).style.background_gradient(cmap='Blues')

In [104]:
dz_Pt = pt_hit.head(30)
dz_Pt.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','PriceTime.csv'), index= False)
dz_Pt

           Date  Hit
1453 2023-01-28    2
1493 2023-01-29    2
2613 2023-02-02    3
1386 2023-02-03    2
954  2023-02-05    1
216  2023-02-06    1
1221 2023-02-07    1
1500 2023-02-09    2
1448 2023-02-10    2
179  2023-02-11    1
994  2023-02-14    1
1203 2023-02-15    1
913  2023-02-18    1
200  2023-02-19    1
1479 2023-02-20    2
810  2023-02-21    1
1460 2023-02-23    2
800  2023-02-24    1
1484 2023-02-27    2
1071 2023-02-28    1
679  2023-03-04    1
306  2023-03-05    1
1447 2023-03-06    2
1222 2023-03-07    1
964  2023-03-08    1
1393 2023-03-09    2
919  2023-03-10    1
663  2023-03-12    1
977  2023-03-14    1
1136 2023-03-15    1

## 2. Result

In [105]:
fig = px.bar(pt_hit, x='Date', y='Hit')
fig.show()

# **XIV. Sq9**

## 1. Code

In [106]:
sq9 = SQ9.copy()

q = sq9['Sq9']
sq9['0'] = d = pd.to_datetime(sq9['0'])
op1 = ((q).to_numpy().reshape(-1, 1) * (np.arange(1, 8)).reshape(1, -1))
sq9g = op1.astype('timedelta64[D]') + d.to_numpy().reshape(-1, 1)
sq9g = pd.DataFrame(sq9g, columns=['45', '90', '135', '180', '225','270','315'])

sq9g

,45,90,135,180,225,270,315
0,2023-01-13,2023-02-18,2023-03-26,2023-05-01,2023-06-06,2023-07-12,2023-08-17
1,2022-06-04,2022-07-09,2022-08-13,2022-09-17,2022-10-22,2022-11-26,2022-12-31
2,2022-06-18,2022-07-17,2022-08-15,2022-09-13,2022-10-12,2022-11-10,2022-12-09
3,2022-09-10,2022-10-09,2022-11-07,2022-12-06,2023-01-04,2023-02-02,2023-03-03
4,2022-04-23,2022-05-21,2022-06-18,2022-07-16,2022-08-13,2022-09-10,2022-10-08
...,...,...,...,...,...,...,...
57,2022-08-30,2022-09-07,2022-09-15,2022-09-23,2022-10-01,2022-10-09,2022-10-17
58,2022-07-30,2022-08-06,2022-08-13,2022-08-20,2022-08-27,2022-09-03,2022-09-10
59,2022-09-01,2022-09-08,2022-09-15,2022-09-22,2022-09-29,2022-10-06,2022-10-13
60,2022-08-14,2022-08-20,2022-08-26,2022-09-01,2022-09-07,2022-09-13,2022-09-19
61,2022-08-17,2022-08-21,2022-08-25,2022-08-29,2022-09-02,2022-09-06,2022-09-10

In [107]:
adpod = sq9g.copy()

dzea2 = adpod[1:].unstack().value_counts(ascending=True)

dzea2 = pd.DataFrame(dzea2, columns=['Hit'])

dzea2 = dzea2.reset_index()
dzea2 = dzea2.rename_axis('E', axis=1)
dzea2.columns = dzea2.columns.str.replace('index', 'Date')
dzea2 = dzea2.rename_axis(None, axis=1)

dzea2 = dzea2.sort_values(by=['Date'], ascending=True)

dzea2['Date'] = dzea2['Date'].apply(pd.to_datetime)

start_date = t  - timedelta(days = 2)
end_date = t + timedelta(days = 90)

mask = (dzea2['Date'] > start_date) & (dzea2['Date'] <= end_date)
dzea2 = dzea2.loc[mask]

# addp_hits.head(50)

ggggg = dzea2.sort_values(by=['Date'], ascending=True)
ggggg.head(10).style.background_gradient(cmap='Blues')

In [108]:
dz_Sq9 = square.copy()

dz_Sq9.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','Sq9.csv'), index= False)
dz_Sq9

           Date  Hit
0    18/09/2022    8
1    19/09/2022    9
2    20/09/2022    9
3    21/09/2022    6
4    22/09/2022   12
..          ...  ...
100  27/12/2022    3
101  28/12/2022    1
102  29/12/2022    0
103  30/12/2022    1
104  31/12/2022    2

[105 rows x 2 columns]

In [109]:
from datetime import date

# Import Data
helio = pd.read_csv("helio.csv", index_col=0)
geo = pd.read_csv("geo.csv", index_col=0)

# Find Planet Entry Using Today's Date
today = date.today().strftime("%d/%m/%Y")

entry = helio.loc[today]
entry2 = geo.loc[today]

# Map Degrees to Planet Names In Dictionary
degrees = {}
planet_names = ["Ear_H", "Mer_H", "Ven_H", "Mar_H", "Jup_H", "Sat_H", "Ura_H", "Nep_H", "Plu_H"]

degrees1 = {}
planet_names1 = ["Moon_G", "Sun_G", "Mer_G", "Ven_G", "Mar_G", "Jup_G", "Sat_G", "Ura_G", "Nep_G", "Plu_G"]

for idx, degree in enumerate(entry):
    degrees.update({int(degree): planet_names[idx]})

for idx, degree1 in enumerate(entry2):
    degrees1.update({int(degree1): planet_names1[idx]})

# Define Spiral Parameters
MASTER_WIDTH    = 19
MASTER_HEIGHT   = 19

# CONTINUED

matrix = \
    [
    [307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325],
    [306,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,326],
    [305,240,183,184,185,186,187,188,189,190,191,192,193,194,195,196, 197,258,327],
    [304,239,182,133,134,135,136,137,138,139,140,141,142,143,144,145,198,259,328],
    [303,238,181,132,91,92,93,94,95,96,97,98,99,100,101,146,199,260,329],
    [302,237,180,131,90,57,58,59,60,61,62,63,64,65,102,147,200,261,330],
    [301,236,179,130,89,56,31,32,33,34,35,36,37,66,103,148,201,262,331],
    [300,235,178,129,88,55,30,13,14,15,16,17,38,67,104,149,202,263,332],
    [299,234,177,128,87,54,29,12,3,4,5,18,39,68,105,150,203,264,333],
    [298,233,176,127,86,53,28,11,2,1,6,19,40,69,106,151,204,265,334],
    [297,232,175,126,85,52,27,10,9,8,7,20,41,70,107,152,205,266,335],
    [296,231,174,125,84,51,26,25,24,23,22,21,42,71,108,153,206,267,336],
    [295,230,173,124,83,50,49,48,47,46,45,44,43,72,109,154,207,268,337],
    [294,229,172,123,82,81,80,79,78,77,76,75,74,73,110,155,208,269,338],
    [293,228,171,122,121,120,119,118,117,116,115,114,113,112,111,156,209,270,339],
    [292,227,170,169,168,167,166,165,164,163,162,161,160,159,158,157,210,271,340],
    [291,226,225,224,223,222,221,220,219,218,217,216,215,214,213,212,211,272,341],
    [290,289,288,287,286,285,284,283,282,281,280,279,278,277,276,275,274,273,342],
    [361,360,359,358,357,356,355,354,353,352,351,350,349,348,347,346,345,344,343]
    ]

# Add Planet Names to Matrix

# H

degrees_to_replace = list(degrees.keys())
for i, row in enumerate(matrix):
    for j, degree in enumerate(row):
        if degree in degrees_to_replace:
            matrix[i][j] = str(degrees[degree])
            
# G

degrees_to_replace1 = list(degrees1.keys())
for i, row in enumerate(matrix):
    for j, degree1 in enumerate(row):
        if degree1 in degrees_to_replace1:
            matrix[i][j] = str(degrees1[degree1])


# Print Matrix
out_mat = matrix

cell_text = []
cell_colours = []
for i in range(MASTER_HEIGHT):
    cell_text.append([])
    cell_colours.append([])
    for j in range(MASTER_WIDTH):
        cell_text[i].append(str(out_mat[i][j]))
        
        if not str(out_mat[i][j]).isdigit():
            if "_G" in str(out_mat[i][j]):
                cell_colours[i].append("#4285F4")
            else:                                
                cell_colours[i].append("#f5567b")
                
        elif  i == j \
            or i == (18-j) \
            or j == (MASTER_WIDTH // 2) \
            or i == (MASTER_HEIGHT // 2):
            cell_colours[i].append("#fff700")
        else:
            cell_colours[i].append("w")

cell_colours[9][9] = "w"
fig, ax = plt.subplots()
fig.set_size_inches(18.5, 18.5, forward=True)

ax.get_xaxis().set_visible(False)
ax.get_yaxis().set_visible(False)
ax.axes.spines["left"].set_color(None)
ax.axes.spines["right"].set_color(None)
ax.axes.spines["top"].set_color(None)
ax.axes.spines["bottom"].set_color(None)
ax.set_aspect("equal")

table = plt.table(cellText=cell_text, cellColours=cell_colours, cellLoc="center", bbox=[0, 0, 1, 1])

for k, v in table._cells.items():
    v.set_edgecolor((0.7, 0.7, 0.7))

#plt.show()
plt.savefig('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//images//sq9.png', dpi=300)

FileNotFoundError: [Errno 2] No such file or directory: 'helio.csv'

In [ ]:
helio.loc['14/04/2021']

In [ ]:
degrees

## 2. Result

In [ ]:
fig = px.bar(ggggg, x='Date', y='Hit')
fig.show()

# **XV. Natal**

## 1. Code

### NATAL

In [ ]:
helio

In [ ]:
# 31/10/2008

helcunn = helio_cum.copy() # DF WHERE I GET THE DATES (df_2)
helcunn = helcunn.round()

helcunn['Date'] = pd.to_datetime(helcunn['Date'])
date_filter = "2000/01/01"
date_filter = pd.to_datetime(date_filter)

helcunn = helcunn[helcunn['Date'] > date_filter]

s_d = "31/10/2008"
nat = natal.copy()
nat_h = nat.copy()

nat_h.Degrees = nat_h.Planets.map(helio.loc[s_d])
nat_h.Start_Date = nat_h.Planets.map(helio_cum.set_index("Date").loc[s_d])
nat_h.Now = nat_h.Planets.map(helio_cum.set_index("Date").loc[today])
nat_h.Cycles = (nat_h.Now - nat_h.Start_Date) / nat_h.Degrees

nat_h['Cycles'] = nat_h['Cycles'].iloc[::].apply(np.floor)

nat_h['0'] = (nat_h.Cycles * nat_h.Degrees) + nat_h.Start_Date
nat_h['1'] = ((nat_h.Cycles + 1) * (nat_h.Degrees)) + nat_h.Start_Date
nat_h['2'] = ((nat_h.Cycles + 2) * (nat_h.Degrees)) + nat_h.Start_Date
nat_h['3'] = ((nat_h.Cycles + 3) * (nat_h.Degrees)) + nat_h.Start_Date
nat_h['4'] = ((nat_h.Cycles + 4) * (nat_h.Degrees)) + nat_h.Start_Date
nat_h['5'] = ((nat_h.Cycles + 5) * (nat_h.Degrees)) + nat_h.Start_Date
nat_h['6'] = ((nat_h.Cycles + 6) * (nat_h.Degrees)) + nat_h.Start_Date
nat_h['7'] = ((nat_h.Cycles + 7) * (nat_h.Degrees)) + nat_h.Start_Date
nat_h['8'] = ((nat_h.Cycles + 8) * (nat_h.Degrees)) + nat_h.Start_Date
nat_h['9'] = ((nat_h.Cycles + 9) * (nat_h.Degrees)) + nat_h.Start_Date

nat_h['0'] = nat_h['0'].round()
nat_h['1'] = nat_h['1'].round()
nat_h['2'] = nat_h['2'].round()
nat_h['3'] = nat_h['3'].round()
nat_h['4'] = nat_h['4'].round()
nat_h['5'] = nat_h['5'].round()
nat_h['6'] = nat_h['6'].round()
nat_h['7'] = nat_h['7'].round()
nat_h['8'] = nat_h['8'].round()
nat_h['9'] = nat_h['9'].round()

nat_test = nat_h.copy() # DF WHERE I WANT TO REPLACE DEGREES VALUES BY THEIR CORRESPONDING DATES (df_1)

dates              = helcunn.melt(id_vars="Date", var_name="Planets")
numeric_cols       = nat_test.columns[nat_test.columns.str.fullmatch("\d+")]
pairs              = nat_test.set_index("Planets").filter(numeric_cols).stack().droplevel(-1).reset_index(name="value")
mapper             = pd.merge_asof(pairs.astype({"value": float}).sort_values("value"),
                                   dates.astype({"value": float}).sort_values("value"),
                                   on="value",
                                   direction="forward").set_index("value")["Date"]

nat_test[numeric_cols] = nat_test[numeric_cols].replace(mapper)

nat_test

In [ ]:
# 03/01/2009

helcunn = helio_cum.copy() # DF WHERE I GET THE DATES (df_2)
helcunn = helcunn.round()

helcunn['Date'] = pd.to_datetime(helcunn['Date'])
date_filter = "2000/01/01"
date_filter = pd.to_datetime(date_filter)

helcunn = helcunn[helcunn['Date'] > date_filter]

s_d1 = "03/01/2009"
nat = natal.copy()
nat_2 = nat.copy()

nat_2.Degrees = nat_2.Planets.map(helio.loc[s_d1])
nat_2.Start_Date = nat_2.Planets.map(helio_cum.set_index("Date").loc[s_d1])
nat_2.Now = nat_2.Planets.map(helio_cum.set_index("Date").loc[today])
nat_2.Cycles = (nat_2.Now - nat_2.Start_Date) / nat_2.Degrees

nat_2['Cycles'] = nat_2['Cycles'].iloc[::].apply(np.floor)

nat_2['0'] = (nat_2.Cycles * nat_2.Degrees) + nat_2.Start_Date
nat_2['1'] = ((nat_2.Cycles + 1) * (nat_2.Degrees)) + nat_2.Start_Date
nat_2['2'] = ((nat_2.Cycles + 2) * (nat_2.Degrees)) + nat_2.Start_Date
nat_2['3'] = ((nat_2.Cycles + 3) * (nat_2.Degrees)) + nat_2.Start_Date
nat_2['4'] = ((nat_2.Cycles + 4) * (nat_2.Degrees)) + nat_2.Start_Date
nat_2['5'] = ((nat_2.Cycles + 5) * (nat_2.Degrees)) + nat_2.Start_Date
nat_2['6'] = ((nat_2.Cycles + 6) * (nat_2.Degrees)) + nat_2.Start_Date
nat_2['7'] = ((nat_2.Cycles + 7) * (nat_2.Degrees)) + nat_2.Start_Date
nat_2['8'] = ((nat_2.Cycles + 8) * (nat_2.Degrees)) + nat_2.Start_Date
nat_2['9'] = ((nat_2.Cycles + 9) * (nat_2.Degrees)) + nat_2.Start_Date

nat_2['0'] = nat_2['0'].round()
nat_2['1'] = nat_2['1'].round()
nat_2['2'] = nat_2['2'].round()
nat_2['3'] = nat_2['3'].round()
nat_2['4'] = nat_2['4'].round()
nat_2['5'] = nat_2['5'].round()
nat_2['6'] = nat_2['6'].round()
nat_2['7'] = nat_2['7'].round()
nat_2['8'] = nat_2['8'].round()
nat_2['9'] = nat_2['9'].round()

nat_test2 = nat_2.copy() # DF WHERE I WANT TO REPLACE DEGREES VALUES BY THEIR CORRESPONDING DATES (df_1)

dates              = helcunn.melt(id_vars="Date", var_name="Planets")
numeric_cols       = nat_test2.columns[nat_test2.columns.str.fullmatch("\d+")]
pairs              = nat_test2.set_index("Planets").filter(numeric_cols).stack().droplevel(-1).reset_index(name="value")
mapper             = pd.merge_asof(pairs.astype({"value": float}).sort_values("value"),
                                   dates.astype({"value": float}).sort_values("value"),
                                   on="value",
                                   direction="forward").set_index("value")["Date"]

nat_test2[numeric_cols] = nat_test2[numeric_cols].replace(mapper)

nat_test2

In [ ]:
# 22/05/2010

helcunn = helio_cum.copy() # DF WHERE I GET THE DATES (df_2)
helcunn = helcunn.round()

helcunn['Date'] = pd.to_datetime(helcunn['Date'])
date_filter = "2000/01/01"
date_filter = pd.to_datetime(date_filter)

helcunn = helcunn[helcunn['Date'] > date_filter]

s_d2 = "22/05/2010"
nat = natal.copy()
nat_3 = nat.copy()

nat_3.Degrees = nat_3.Planets.map(helio.loc[s_d2])
nat_3.Start_Date = nat_3.Planets.map(helio_cum.set_index("Date").loc[s_d2])
nat_3.Now = nat_3.Planets.map(helio_cum.set_index("Date").loc[today])
nat_3.Cycles = (nat_3.Now - nat_3.Start_Date) / nat_3.Degrees

nat_3['Cycles'] = nat_3['Cycles'].iloc[::].apply(np.floor)

nat_3['0'] = (nat_3.Cycles * nat_3.Degrees) + nat_3.Start_Date
nat_3['1'] = ((nat_3.Cycles + 1) * (nat_3.Degrees)) + nat_3.Start_Date
nat_3['2'] = ((nat_3.Cycles + 2) * (nat_3.Degrees)) + nat_3.Start_Date
nat_3['3'] = ((nat_3.Cycles + 3) * (nat_3.Degrees)) + nat_3.Start_Date
nat_3['4'] = ((nat_3.Cycles + 4) * (nat_3.Degrees)) + nat_3.Start_Date
nat_3['5'] = ((nat_3.Cycles + 5) * (nat_3.Degrees)) + nat_3.Start_Date
nat_3['6'] = ((nat_3.Cycles + 6) * (nat_3.Degrees)) + nat_3.Start_Date
nat_3['7'] = ((nat_3.Cycles + 7) * (nat_3.Degrees)) + nat_3.Start_Date
nat_3['8'] = ((nat_3.Cycles + 8) * (nat_3.Degrees)) + nat_3.Start_Date
nat_3['9'] = ((nat_3.Cycles + 9) * (nat_3.Degrees)) + nat_3.Start_Date

nat_3['0'] = nat_3['0'].round()
nat_3['1'] = nat_3['1'].round()
nat_3['2'] = nat_3['2'].round()
nat_3['3'] = nat_3['3'].round()
nat_3['4'] = nat_3['4'].round()
nat_3['5'] = nat_3['5'].round()
nat_3['6'] = nat_3['6'].round()
nat_3['7'] = nat_3['7'].round()
nat_3['8'] = nat_3['8'].round()
nat_3['9'] = nat_3['9'].round()

nat_test3 = nat_3.copy() # DF WHERE I WANT TO REPLACE DEGREES VALUES BY THEIR CORRESPONDING DATES (df_1)

dates              = helcunn.melt(id_vars="Date", var_name="Planets")
numeric_cols       = nat_test3.columns[nat_test3.columns.str.fullmatch("\d+")]
pairs              = nat_test3.set_index("Planets").filter(numeric_cols).stack().droplevel(-1).reset_index(name="value")
mapper             = pd.merge_asof(pairs.astype({"value": float}).sort_values("value"),
                                   dates.astype({"value": float}).sort_values("value"),
                                   on="value",
                                   direction="forward").set_index("value")["Date"]

nat_test3[numeric_cols] = nat_test3[numeric_cols].replace(mapper)

nat_test3

In [ ]:
# 17/12/2017

helcunn = helio_cum.copy() # DF WHERE I GET THE DATES (df_2)
helcunn = helcunn.round()

helcunn['Date'] = pd.to_datetime(helcunn['Date'])
date_filter = "2000/01/01"
date_filter = pd.to_datetime(date_filter)

helcunn = helcunn[helcunn['Date'] > date_filter]

s_d3 = "17/12/2017"
nat = natal.copy()
nat_4 = nat.copy()

nat_4.Degrees = nat_4.Planets.map(helio.loc[s_d3])
nat_4.Start_Date = nat_4.Planets.map(helio_cum.set_index("Date").loc[s_d3])
nat_4.Now = nat_4.Planets.map(helio_cum.set_index("Date").loc[today])
nat_4.Cycles = (nat_4.Now - nat_4.Start_Date) / nat_4.Degrees

nat_4['Cycles'] = nat_4['Cycles'].iloc[::].apply(np.floor)

nat_4['0'] = (nat_4.Cycles * nat_4.Degrees) + nat_4.Start_Date
nat_4['1'] = ((nat_4.Cycles + 1) * (nat_4.Degrees)) + nat_4.Start_Date
nat_4['2'] = ((nat_4.Cycles + 2) * (nat_4.Degrees)) + nat_4.Start_Date
nat_4['3'] = ((nat_4.Cycles + 3) * (nat_4.Degrees)) + nat_4.Start_Date
nat_4['4'] = ((nat_4.Cycles + 4) * (nat_4.Degrees)) + nat_4.Start_Date
nat_4['5'] = ((nat_4.Cycles + 5) * (nat_4.Degrees)) + nat_4.Start_Date
nat_4['6'] = ((nat_4.Cycles + 6) * (nat_4.Degrees)) + nat_4.Start_Date
nat_4['7'] = ((nat_4.Cycles + 7) * (nat_4.Degrees)) + nat_4.Start_Date
nat_4['8'] = ((nat_4.Cycles + 8) * (nat_4.Degrees)) + nat_4.Start_Date
nat_4['9'] = ((nat_4.Cycles + 9) * (nat_4.Degrees)) + nat_4.Start_Date

nat_4['0'] = nat_4['0'].round()
nat_4['1'] = nat_4['1'].round()
nat_4['2'] = nat_4['2'].round()
nat_4['3'] = nat_4['3'].round()
nat_4['4'] = nat_4['4'].round()
nat_4['5'] = nat_4['5'].round()
nat_4['6'] = nat_4['6'].round()
nat_4['7'] = nat_4['7'].round()
nat_4['8'] = nat_4['8'].round()
nat_4['9'] = nat_4['9'].round()

nat_test4 = nat_4.copy() # DF WHERE I WANT TO REPLACE DEGREES VALUES BY THEIR CORRESPONDING DATES (df_1)

dates              = helcunn.melt(id_vars="Date", var_name="Planets")
numeric_cols       = nat_test4.columns[nat_test4.columns.str.fullmatch("\d+")]
pairs              = nat_test4.set_index("Planets").filter(numeric_cols).stack().droplevel(-1).reset_index(name="value")
mapper             = pd.merge_asof(pairs.astype({"value": float}).sort_values("value"),
                                   dates.astype({"value": float}).sort_values("value"),
                                   on="value",
                                   direction="forward").set_index("value")["Date"]

nat_test4[numeric_cols] = nat_test4[numeric_cols].replace(mapper)

nat_test4

In [ ]:
# 12/03/2020

helcunn = helio_cum.copy() # DF WHERE I GET THE DATES (df_2)
helcunn = helcunn.round()

helcunn['Date'] = pd.to_datetime(helcunn['Date'])
date_filter = "2000/01/01"
date_filter = pd.to_datetime(date_filter)

helcunn = helcunn[helcunn['Date'] > date_filter]

s_d4 = "12/03/2020"
nat = natal.copy()
nat_5 = nat.copy()

nat_5.Degrees = nat_5.Planets.map(helio.loc[s_d4])
nat_5.Start_Date = nat_5.Planets.map(helio_cum.set_index("Date").loc[s_d4])
nat_5.Now = nat_5.Planets.map(helio_cum.set_index("Date").loc[today])
nat_5.Cycles = (nat_5.Now - nat_5.Start_Date) / nat_5.Degrees

nat_5['Cycles'] = nat_5['Cycles'].iloc[::].apply(np.floor)

nat_5['0'] = (nat_5.Cycles * nat_5.Degrees) + nat_5.Start_Date
nat_5['1'] = ((nat_5.Cycles + 1) * (nat_5.Degrees)) + nat_5.Start_Date
nat_5['2'] = ((nat_5.Cycles + 2) * (nat_5.Degrees)) + nat_5.Start_Date
nat_5['3'] = ((nat_5.Cycles + 3) * (nat_5.Degrees)) + nat_5.Start_Date
nat_5['4'] = ((nat_5.Cycles + 4) * (nat_5.Degrees)) + nat_5.Start_Date
nat_5['5'] = ((nat_5.Cycles + 5) * (nat_5.Degrees)) + nat_5.Start_Date
nat_5['6'] = ((nat_5.Cycles + 6) * (nat_5.Degrees)) + nat_5.Start_Date
nat_5['7'] = ((nat_5.Cycles + 7) * (nat_5.Degrees)) + nat_5.Start_Date
nat_5['8'] = ((nat_5.Cycles + 8) * (nat_5.Degrees)) + nat_5.Start_Date
nat_5['9'] = ((nat_5.Cycles + 9) * (nat_5.Degrees)) + nat_5.Start_Date

nat_5['0'] = nat_5['0'].round()
nat_5['1'] = nat_5['1'].round()
nat_5['2'] = nat_5['2'].round()
nat_5['3'] = nat_5['3'].round()
nat_5['4'] = nat_5['4'].round()
nat_5['5'] = nat_5['5'].round()
nat_5['6'] = nat_5['6'].round()
nat_5['7'] = nat_5['7'].round()
nat_5['8'] = nat_5['8'].round()
nat_5['9'] = nat_5['9'].round()

nat_test5 = nat_5.copy() # DF WHERE I WANT TO REPLACE DEGREES VALUES BY THEIR CORRESPONDING DATES (df_1)

dates              = helcunn.melt(id_vars="Date", var_name="Planets")
numeric_cols       = nat_test5.columns[nat_test5.columns.str.fullmatch("\d+")]
pairs              = nat_test5.set_index("Planets").filter(numeric_cols).stack().droplevel(-1).reset_index(name="value")
mapper             = pd.merge_asof(pairs.astype({"value": float}).sort_values("value"),
                                   dates.astype({"value": float}).sort_values("value"),
                                   on="value",
                                   direction="forward").set_index("value")["Date"]

nat_test5[numeric_cols] = nat_test5[numeric_cols].replace(mapper)

nat_test5

In [ ]:
# 25/04/2021

helcunn = helio_cum.copy() # DF WHERE I GET THE DATES (df_2)
helcunn = helcunn.round()

helcunn['Date'] = pd.to_datetime(helcunn['Date'])
date_filter = "2000/01/01"
date_filter = pd.to_datetime(date_filter)

helcunn = helcunn[helcunn['Date'] > date_filter]

s_d5 = "25/04/2021"
nat = natal.copy()
nat_6 = nat.copy()

nat_6.Degrees = nat_6.Planets.map(helio.loc[s_d5])
nat_6.Start_Date = nat_6.Planets.map(helio_cum.set_index("Date").loc[s_d5])
nat_6.Now = nat_6.Planets.map(helio_cum.set_index("Date").loc[today])
nat_6.Cycles = (nat_6.Now - nat_6.Start_Date) / nat_6.Degrees

nat_6['Cycles'] = nat_6['Cycles'].iloc[::].apply(np.floor)

nat_6['0'] = (nat_6.Cycles * nat_6.Degrees) + nat_6.Start_Date
nat_6['1'] = ((nat_6.Cycles + 1) * (nat_6.Degrees)) + nat_6.Start_Date
nat_6['2'] = ((nat_6.Cycles + 2) * (nat_6.Degrees)) + nat_6.Start_Date
nat_6['3'] = ((nat_6.Cycles + 3) * (nat_6.Degrees)) + nat_6.Start_Date
nat_6['4'] = ((nat_6.Cycles + 4) * (nat_6.Degrees)) + nat_6.Start_Date
nat_6['5'] = ((nat_6.Cycles + 5) * (nat_6.Degrees)) + nat_6.Start_Date
nat_6['6'] = ((nat_6.Cycles + 6) * (nat_6.Degrees)) + nat_6.Start_Date
nat_6['7'] = ((nat_6.Cycles + 7) * (nat_6.Degrees)) + nat_6.Start_Date
nat_6['8'] = ((nat_6.Cycles + 8) * (nat_6.Degrees)) + nat_6.Start_Date
nat_6['9'] = ((nat_6.Cycles + 9) * (nat_6.Degrees)) + nat_6.Start_Date

nat_6['0'] = nat_6['0'].round()
nat_6['1'] = nat_6['1'].round()
nat_6['2'] = nat_6['2'].round()
nat_6['3'] = nat_6['3'].round()
nat_6['4'] = nat_6['4'].round()
nat_6['5'] = nat_6['5'].round()
nat_6['6'] = nat_6['6'].round()
nat_6['7'] = nat_6['7'].round()
nat_6['8'] = nat_6['8'].round()
nat_6['9'] = nat_6['9'].round()

nat_test6 = nat_6.copy() # DF WHERE I WANT TO REPLACE DEGREES VALUES BY THEIR CORRESPONDING DATES (df_1)

dates              = helcunn.melt(id_vars="Date", var_name="Planets")
numeric_cols       = nat_test6.columns[nat_test6.columns.str.fullmatch("\d+")]
pairs              = nat_test6.set_index("Planets").filter(numeric_cols).stack().droplevel(-1).reset_index(name="value")
mapper             = pd.merge_asof(pairs.astype({"value": float}).sort_values("value"),
                                   dates.astype({"value": float}).sort_values("value"),
                                   on="value",
                                   direction="forward").set_index("value")["Date"]

nat_test6[numeric_cols] = nat_test6[numeric_cols].replace(mapper)

nat_test6

In [ ]:
# 10/11/2021

helcunn = helio_cum.copy() # DF WHERE I GET THE DATES (df_2)
helcunn = helcunn.round()

helcunn['Date'] = pd.to_datetime(helcunn['Date'])
date_filter = "2000/01/01"
date_filter = pd.to_datetime(date_filter)

helcunn = helcunn[helcunn['Date'] > date_filter]

s_d6 = "10/11/2021"
nat = natal.copy()
nat_7 = nat.copy()

nat_7.Degrees = nat_7.Planets.map(helio.loc[s_d6])
nat_7.Start_Date = nat_7.Planets.map(helio_cum.set_index("Date").loc[s_d6])
nat_7.Now = nat_7.Planets.map(helio_cum.set_index("Date").loc[today])
nat_7.Cycles = (nat_7.Now - nat_7.Start_Date) / nat_7.Degrees

nat_7['Cycles'] = nat_7['Cycles'].iloc[::].apply(np.floor)

nat_7['0'] = (nat_7.Cycles * nat_7.Degrees) + nat_7.Start_Date
nat_7['1'] = ((nat_7.Cycles + 1) * (nat_7.Degrees)) + nat_7.Start_Date
nat_7['2'] = ((nat_7.Cycles + 2) * (nat_7.Degrees)) + nat_7.Start_Date
nat_7['3'] = ((nat_7.Cycles + 3) * (nat_7.Degrees)) + nat_7.Start_Date
nat_7['4'] = ((nat_7.Cycles + 4) * (nat_7.Degrees)) + nat_7.Start_Date
nat_7['5'] = ((nat_7.Cycles + 5) * (nat_7.Degrees)) + nat_7.Start_Date
nat_7['6'] = ((nat_7.Cycles + 6) * (nat_7.Degrees)) + nat_7.Start_Date
nat_7['7'] = ((nat_7.Cycles + 7) * (nat_7.Degrees)) + nat_7.Start_Date
nat_7['8'] = ((nat_7.Cycles + 8) * (nat_7.Degrees)) + nat_7.Start_Date
nat_7['9'] = ((nat_7.Cycles + 9) * (nat_7.Degrees)) + nat_7.Start_Date

nat_7['0'] = nat_7['0'].round()
nat_7['1'] = nat_7['1'].round()
nat_7['2'] = nat_7['2'].round()
nat_7['3'] = nat_7['3'].round()
nat_7['4'] = nat_7['4'].round()
nat_7['5'] = nat_7['5'].round()
nat_7['6'] = nat_7['6'].round()
nat_7['7'] = nat_7['7'].round()
nat_7['8'] = nat_7['8'].round()
nat_7['9'] = nat_7['9'].round()

nat_test7 = nat_7.copy() # DF WHERE I WANT TO REPLACE DEGREES VALUES BY THEIR CORRESPONDING DATES (df_1)

dates              = helcunn.melt(id_vars="Date", var_name="Planets")
numeric_cols       = nat_test7.columns[nat_test7.columns.str.fullmatch("\d+")]
pairs              = nat_test7.set_index("Planets").filter(numeric_cols).stack().droplevel(-1).reset_index(name="value")
mapper             = pd.merge_asof(pairs.astype({"value": float}).sort_values("value"),
                                   dates.astype({"value": float}).sort_values("value"),
                                   on="value",
                                   direction="forward").set_index("value")["Date"]

nat_test7[numeric_cols] = nat_test7[numeric_cols].replace(mapper)

nat_test7

In [ ]:
# 18/06/2022

helcunn = helio_cum.copy() # DF WHERE I GET THE DATES (df_2)
helcunn = helcunn.round()

helcunn['Date'] = pd.to_datetime(helcunn['Date'])
date_filter = "2000/01/01"
date_filter = pd.to_datetime(date_filter)

helcunn = helcunn[helcunn['Date'] > date_filter]

s_d7 = "18/06/2022"
nat = natal.copy()
nat_8 = nat.copy()

nat_8.Degrees = nat_8.Planets.map(helio.loc[s_d7])
nat_8.Start_Date = nat_8.Planets.map(helio_cum.set_index("Date").loc[s_d7])
nat_8.Now = nat_8.Planets.map(helio_cum.set_index("Date").loc[today])
nat_8.Cycles = (nat_8.Now - nat_8.Start_Date) / nat_8.Degrees

nat_8['Cycles'] = nat_8['Cycles'].iloc[::].apply(np.floor)

nat_8['0'] = (nat_8.Cycles * nat_8.Degrees) + nat_8.Start_Date
nat_8['1'] = ((nat_8.Cycles + 1) * (nat_8.Degrees)) + nat_8.Start_Date
nat_8['2'] = ((nat_8.Cycles + 2) * (nat_8.Degrees)) + nat_8.Start_Date
nat_8['3'] = ((nat_8.Cycles + 3) * (nat_8.Degrees)) + nat_8.Start_Date
nat_8['4'] = ((nat_8.Cycles + 4) * (nat_8.Degrees)) + nat_8.Start_Date
nat_8['5'] = ((nat_8.Cycles + 5) * (nat_8.Degrees)) + nat_8.Start_Date
nat_8['6'] = ((nat_8.Cycles + 6) * (nat_8.Degrees)) + nat_8.Start_Date
nat_8['7'] = ((nat_8.Cycles + 7) * (nat_8.Degrees)) + nat_8.Start_Date
nat_8['8'] = ((nat_8.Cycles + 8) * (nat_8.Degrees)) + nat_8.Start_Date
nat_8['9'] = ((nat_8.Cycles + 9) * (nat_8.Degrees)) + nat_8.Start_Date

nat_8['0'] = nat_8['0'].round()
nat_8['1'] = nat_8['1'].round()
nat_8['2'] = nat_8['2'].round()
nat_8['3'] = nat_8['3'].round()
nat_8['4'] = nat_8['4'].round()
nat_8['5'] = nat_8['5'].round()
nat_8['6'] = nat_8['6'].round()
nat_8['7'] = nat_8['7'].round()
nat_8['8'] = nat_8['8'].round()
nat_8['9'] = nat_8['9'].round()

nat_test8 = nat_8.copy() # DF WHERE I WANT TO REPLACE DEGREES VALUES BY THEIR CORRESPONDING DATES (df_1)

dates              = helcunn.melt(id_vars="Date", var_name="Planets")
numeric_cols       = nat_test8.columns[nat_test8.columns.str.fullmatch("\d+")]
pairs              = nat_test8.set_index("Planets").filter(numeric_cols).stack().droplevel(-1).reset_index(name="value")
mapper             = pd.merge_asof(pairs.astype({"value": float}).sort_values("value"),
                                   dates.astype({"value": float}).sort_values("value"),
                                   on="value",
                                   direction="forward").set_index("value")["Date"]

nat_test8[numeric_cols] = nat_test8[numeric_cols].replace(mapper)

nat_test8

In [ ]:
nat = pd.concat([nat_test, nat_test2, nat_test3, nat_test4, nat_test5, nat_test6, nat_test7, nat_test8])
nat = nat.drop(columns=['Planets', 'Degrees', 'Start_Date', 'Now', 'Cycles'])

### Revs

In [ ]:
# revgui = revgui.drop(columns=['Sat', 'Ura', 'Nep', 'Plu'])

In [ ]:
revgui = revgui.iloc[1: , :]
revgui

In [ ]:
# 31/10/2008

import datetime

starting_date = datetime.datetime.strptime("31/10/2008", "%d/%m/%Y")

input1 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [13, 57, 22, 7, 1],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output1 = pd.DataFrame()

for col in input1.columns[0:3]:
    output1[col] = input1[col]

for col in input1.columns[3:]:
    output1[col] = input1[col]
    for row, _ in input1.iterrows():
        delta = f'{int(input1["Days"][row] * (input1["Rev"][row] + int(col)))} days'
        output1[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output1

In [ ]:
# 03/01/2009

import datetime

starting_date = datetime.datetime.strptime("03/01/2009", "%d/%m/%Y")

input2 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [13, 56, 22, 7, 1],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output2 = pd.DataFrame()

for col in input2.columns[0:3]:
    output2[col] = input2[col]

for col in input2.columns[3:]:
    output2[col] = input2[col]
    for row, _ in input2.iterrows():
        delta = f'{int(input2["Days"][row] * (input2["Rev"][row] + int(col)))} days'
        output2[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output2

In [ ]:
# 22/05/2010

import datetime

starting_date = datetime.datetime.strptime("22/05/2010", "%d/%m/%Y")

input3 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [12, 51, 20, 6, 1],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output3 = pd.DataFrame()

for col in input3.columns[0:3]:
    output3[col] = input3[col]

for col in input3.columns[3:]:
    output3[col] = input3[col]
    for row, _ in input3.iterrows():
        delta = f'{int(input3["Days"][row] * (input3["Rev"][row] + int(col)))} days'
        output3[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output3

In [ ]:
# 29/11/2013

import datetime

starting_date = datetime.datetime.strptime("29/11/2013", "%d/%m/%Y")

input4 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [8, 36, 14, 4, 0.72],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output4 = pd.DataFrame()

for col in input4.columns[0:3]:
    output4[col] = input4[col]

for col in input4.columns[3:]:
    output4[col] = input4[col]
    for row, _ in input4.iterrows():
        delta = f'{int(input4["Days"][row] * (input4["Rev"][row] + int(col)))} days'
        output4[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output4

In [ ]:
# 29/11/2013

import datetime

starting_date = datetime.datetime.strptime("29/11/2013", "%d/%m/%Y")

input4 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [8, 36, 14, 4, 0.72],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output4 = pd.DataFrame()

for col in input4.columns[0:3]:
    output4[col] = input4[col]

for col in input4.columns[3:]:
    output4[col] = input4[col]
    for row, _ in input4.iterrows():
        delta = f'{int(input4["Days"][row] * (input4["Rev"][row] + int(col)))} days'
        output4[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output4

In [ ]:
# 17/12/2017

import datetime

starting_date = datetime.datetime.strptime("17/12/2017", "%d/%m/%Y")

input5 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [4, 19, 7, 2, 0.40],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output5 = pd.DataFrame()

for col in input5.columns[0:3]:
    output5[col] = input5[col]

for col in input5.columns[3:]:
    output5[col] = input5[col]
    for row, _ in input5.iterrows():
        delta = f'{int(input5["Days"][row] * (input5["Rev"][row] + int(col)))} days'
        output5[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output5

In [ ]:
# 15/12/2018

import datetime

starting_date = datetime.datetime.strptime("15/12/2018", "%d/%m/%Y")

input6 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [3, 15, 6, 2, 0.32],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output6 = pd.DataFrame()

for col in input6.columns[0:3]:
    output6[col] = input6[col]

for col in input6.columns[3:]:
    output6[col] = input6[col]
    for row, _ in input6.iterrows():
        delta = f'{int(input6["Days"][row] * (input6["Rev"][row] + int(col)))} days'
        output6[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output6

In [ ]:
# 26/06/2019

import datetime

starting_date = datetime.datetime.strptime("26/06/2019", "%d/%m/%Y")

input7 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [3, 13, 5, 1.71, 0.28],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output7 = pd.DataFrame()

for col in input7.columns[0:3]:
    output7[col] = input7[col]

for col in input7.columns[3:]:
    output7[col] = input7[col]
    for row, _ in input7.iterrows():
        delta = f'{int(input7["Days"][row] * (input7["Rev"][row] + int(col)))} days'
        output7[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output7

In [ ]:
# 12/03/2020

import datetime

starting_date = datetime.datetime.strptime("12/03/2020", "%d/%m/%Y")

input8 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [2, 10, 4, 1.38, 0.22],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output8 = pd.DataFrame()

for col in input8.columns[0:3]:
    output8[col] = input8[col]

for col in input8.columns[3:]:
    output8[col] = input8[col]
    for row, _ in input8.iterrows():
        delta = f'{int(input8["Days"][row] * (input8["Rev"][row] + int(col)))} days'
        output8[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output8

In [ ]:
# 25/04/2021

import datetime

starting_date = datetime.datetime.strptime("25/04/2021", "%d/%m/%Y")

input9 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [1, 5, 2, 0.73, 0.12],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output9 = pd.DataFrame()

for col in input9.columns[0:3]:
    output9[col] = input9[col]

for col in input9.columns[3:]:
    output9[col] = input9[col]
    for row, _ in input9.iterrows():
        delta = f'{int(input9["Days"][row] * (input9["Rev"][row] + int(col)))} days'
        output9[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output9

In [ ]:
# 20/07/2021

import datetime

starting_date = datetime.datetime.strptime("20/07/2021", "%d/%m/%Y")

input10 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [1, 4, 1.85, 0.63, 0.10],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output10 = pd.DataFrame()

for col in input10.columns[0:3]:
    output10[col] = input10[col]

for col in input10.columns[3:]:
    output10[col] = input10[col]
    for row, _ in input10.iterrows():
        delta = f'{int(input10["Days"][row] * (input10["Rev"][row] + int(col)))} days'
        output10[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output10

In [ ]:
# 20/10/2021

import datetime

starting_date = datetime.datetime.strptime("20/10/2021", "%d/%m/%Y")

input11 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [1, 3.64, 1.45, 0.52, 0.08],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output11 = pd.DataFrame()

for col in input11.columns[0:3]:
    output11[col] = input11[col]

for col in input11.columns[3:]:
    output11[col] = input11[col]
    for row, _ in input11.iterrows():
        delta = f'{int(input11["Days"][row] * (input11["Rev"][row] + int(col)))} days'
        output11[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output11

In [ ]:
# 10/11/2021

import datetime

starting_date = datetime.datetime.strptime("10/11/2021", "%d/%m/%Y")

input12 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [1, 3.34, 1.35, 0.49, 0.07],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output12 = pd.DataFrame()

for col in input12.columns[0:3]:
    output12[col] = input12[col]

for col in input12.columns[3:]:
    output12[col] = input12[col]
    for row, _ in input12.iterrows():
        delta = f'{int(input12["Days"][row] * (input12["Rev"][row] + int(col)))} days'
        output12[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output12

In [ ]:
# 18/06/2022

import datetime

starting_date = datetime.datetime.strptime("18/06/2022", "%d/%m/%Y")

input13 = pd.DataFrame({"Planets": ["Earth", "Mer", "Ven", "Mar", "Jup"],
                       "Days": [365.2425, 88, 225, 687, 4330.6],
                       "Rev": [1, 0.97, 0.38, 0.14, 0.02],
                       "0": "",
                       "1": "",
                       "2": "",
                       "3": ""
                       })
                       
output13 = pd.DataFrame()

for col in input13.columns[0:3]:
    output13[col] = input13[col]

for col in input13.columns[3:]:
    output13[col] = input13[col]
    for row, _ in input13.iterrows():
        delta = f'{int(input13["Days"][row] * (input13["Rev"][row] + int(col)))} days'
        output13[col][row] = (starting_date + pd.to_timedelta(delta)).strftime('%d/%m/%Y')

output13

In [ ]:
revgood = pd.concat([output1, output2, output3, output4, output5, output6, output7, output8, output9, output10, output11, output12, output13])
revgood = revgood.drop(columns=['Planets', 'Days', 'Rev'])
naters = pd.concat([nat, revgood])

flugg1 = naters.copy()

gdeg2 = flugg1.unstack().value_counts(ascending=True)

gdeg2 = pd.DataFrame(gdeg2, columns=['Hit'])

gdeg2 = gdeg2.reset_index()
gdeg2 = gdeg2.rename_axis('E', axis=1)
gdeg2.columns = gdeg2.columns.str.replace('index', 'Date')
gdeg2 = gdeg2.rename_axis(None, axis=1)

#deg = gdeg2.sort_values(by=['Date'], ascending=True)
gdeg2.drop(gdeg2.head(1).index,inplace=True) # drop first n rows

gdeg2['Date'] = gdeg2['Date'].apply(pd.to_datetime, format = "%d/%m/%Y")

start_date = t  - timedelta(days = 2)
end_date = t + timedelta(days = 90)

mask = (gdeg2['Date'] > start_date) & (gdeg2['Date'] <= end_date)
gdeg2 = gdeg2.loc[mask]

naters_hits = gdeg2.sort_values(by=['Date'], ascending=True)

In [ ]:
dz_Natal = naters_hits.head(30)
dz_Natal.to_csv(os.path.join('C://Users//ASUS//Desktop//ASTROTOOL//streamlit//data','Natal.csv'), index= False)
dz_Natal

## 2. Result

In [ ]:
fig = px.bar(naters_hits, x='Date', y='Hit')
fig.show()

# **FINAL CHART.py**

In [ ]:
###################################################################################################################################################################
######################################################################## WEIGHTED MATRIX ##########################################################################
###################################################################################################################################################################

# Multiplier

maxlat = maxlat.copy()
maxlat = maxlat.rename(columns={'Hit': 'maxlat'})
maxlat['maxlat'] = maxlat['maxlat'] * 25

adddegrees = adddegrees.copy()
adddegrees = adddegrees.rename(columns={'Hit': 'adddegrees'})
adddegrees['adddegrees'] = adddegrees['adddegrees'] * 2

numerology = numerology.copy()
numerology = numerology.rename(columns={'Hit': 'numerology'})
numerology['numerology'] = numerology['numerology'] * 1

NatSqq = NatSq_hits.copy()
NatSqq = NatSqq.rename(columns={'Hit': 'NatSq'})
NatSqq['NatSq'] = NatSqq['NatSq'] * 3

Spiralss = Spiral_hits.copy()
Spiralss = Spiralss.rename(columns={'Hit': 'Spirals'})
Spiralss['Spirals'] = Spiralss['Spirals'] * 5

addPricee = good.copy()
addPricee = addPricee.rename(columns={'Hit': 'addPrice'})
addPricee['addPrice'] = addPricee['addPrice'] * 10

TrNaaa = x_hi.copy()
TrNaaa = TrNaaa.rename(columns={'Hit': 'TrNa'})
TrNaaa['TrNa'] = TrNaaa['TrNa'] * 1

TrTrrr = xxxx.copy()
TrTrrr = TrTrrr.rename(columns={'Hit': 'TrTr'})
TrTrrr['TrTr'] = TrTrrr['TrTr'] * 1

Multtt = mult_hits.copy()
Multtt = Multtt.rename(columns={'Hit': 'Mult'})
Multtt['Mult'] = Multtt['Mult'] * 3

Futureee = ex.copy()
Futureee = Futureee.rename(columns={'Hit': 'Future'})
Futureee['Future'] = Futureee['Future'] * 5

Fibbb = fib_hits.copy()
Fibbb = Fibbb.rename(columns={'Hit': 'Fibs'})
Fibbb['Fibs'] = Fibbb['Fibs'] * 3

Retrooo = rh_hits.copy()
Retrooo = Retrooo.rename(columns={'Hit': 'Retro'})
Retrooo['Retro'] = Retrooo['Retro'] * 0.5

PriceTimeee = pt_hit.copy()
PriceTimeee = PriceTimeee.rename(columns={'Hit': 'PriceTime'})
PriceTimeee['PriceTime'] = PriceTimeee['PriceTime'] * 5

Sq999 = dz_Sq9.copy()
Sq999 = Sq999.rename(columns={'Hit': 'Sq9'})
Sq999['Sq9'] = Sq999['Sq9'] * 2

Nattt = naters_hits.copy()
Nattt = Nattt.rename(columns={'Hit': 'Nat'})
Nattt['Nat'] = Nattt['Nat'] * 3

################################################################################################################################################################
###############   ####################   #####################   ##############   ##############   ####################   #####################   ##############
################################################################################################################################################################

In [ ]:
# mettre toutes les dates sous le mme format en STR ('%d/%m%Y')
# df['Date'] = df['Date'].astype(str)
# faire un merge ou on va mettre nvx df (df_news = pd.merge(tous les dfs, on = "Date"))
# fillna(0)
# dataframe propre aprs

maxlat['Date'] = maxlat['Date'].astype(str)

adddegrees['Date'] = adddegrees['Date'].astype(str)

numerology['Date'] = numerology['Date'].astype(str)

NatSqq['Date'] = (pd.to_datetime(NatSqq['Date']).dt.strftime('%d/%m/%Y'))
NatSqq['Date'] = NatSqq['Date'].astype(str)

Spiralss['Date'] = (pd.to_datetime(Spiralss['Date']).dt.strftime('%d/%m/%Y'))
Spiralss['Date'] = Spiralss['Date'].astype(str)

addPricee['Date'] = (pd.to_datetime(addPricee['Date']).dt.strftime('%d/%m/%Y'))
addPricee['Date'] = addPricee['Date'].astype(str)

TrNaaa['Date'] = (pd.to_datetime(TrNaaa['Date']).dt.strftime('%d/%m/%Y'))
TrNaaa['Date'] = TrNaaa['Date'].astype(str)

TrTrrr = TrTrrr.reset_index(inplace=False)
TrTrrr['Date'] = (pd.to_datetime(TrTrrr['Date']).dt.strftime('%d/%m/%Y'))
TrTrrr['Date'] = TrTrrr['Date'].astype(str)

Multtt['Date'] = (pd.to_datetime(Multtt['Date']).dt.strftime('%d/%m/%Y'))
Multtt['Date'] = Multtt['Date'].astype(str)

Futureee['Date'] = (pd.to_datetime(Futureee['Date']).dt.strftime('%d/%m/%Y'))
Futureee['Date'] = Futureee['Date'].astype(str)

Fibbb['Date'] = (pd.to_datetime(Fibbb['Date']).dt.strftime('%d/%m/%Y'))
Fibbb['Date'] = Fibbb['Date'].astype(str)

Retrooo['Date'] = (pd.to_datetime(Retrooo['Date']).dt.strftime('%d/%m/%Y'))
Retrooo['Date'] = Retrooo['Date'].astype(str)

PriceTimeee['Date'] = (pd.to_datetime(PriceTimeee['Date']).dt.strftime('%d/%m/%Y'))
PriceTimeee['Date'] = PriceTimeee['Date'].astype(str)

Sq999['Date'] = (pd.to_datetime(Sq999['Date']).dt.strftime('%d/%m/%Y'))
Sq999['Date'] = Sq999['Date'].astype(str)

Nattt['Date'] = (pd.to_datetime(Nattt['Date']).dt.strftime('%d/%m/%Y'))
Nattt['Date'] = Nattt['Date'].astype(str)

In [ ]:
#eeee = pd.concat([maxlat, adddegrees , numerology, NatSqq, Spiralss , addPricee , TrNaaa , TrTrrr , Multtt , Futureee , Fibbb , Retrooo , PriceTimeee , Sq999 , Nattt])

df_list = [maxlat, adddegrees , numerology, NatSqq, Spiralss , addPricee , TrNaaa , TrTrrr , Multtt , Futureee , Fibbb , Retrooo , PriceTimeee , Sq999 , Nattt]
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Date'],
                                            how='outer'), df_list).fillna(0)

df_merged['Total'] = df_merged.sum(axis=1)
df_merged = df_merged.drop_duplicates()
df_merged['Date'] = df_merged['Date'].drop_duplicates()
df_merged = df_merged.dropna()
df_merged = df_merged.reset_index()

df_merged.head(15)

In [ ]:
for index, i in enumerate(df_merged['Total']):
    if index == 8:
        break
    list = []
    list.append(df_merged['Total'][index])
    list.append(df_merged['Total'][index + 1])
    list.append(df_merged['Total'][index + 2])

print(list)

In [ ]:
m = fluchart.copy()

figui = px.bar(m, x="Date", y="Magnitude", hover_data=['Date', 'Magnitude'], color='Magnitude', color_continuous_scale=px.colors.sequential.Cividis,
             height=618).update_layout(xaxis={"rangeslider":{"visible":True}})
figui.show()